/*
i3D.net One-Deployment-Platform Endpoints

Documentation links: - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Usage/\">API Usage</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Authentication/\">API Authentication</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Handling/\">API Error Handling</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Codes/\">API Error Codes</a> - <a href=\"https://www.i3d.net/docs/one/odp/\">All ONE Deployment Platform Documentation</a>

API version: 3.0.0
Contact: info@i3d.net
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// HostTelemetryAPIService HostTelemetryAPI service
type HostTelemetryAPIService service

type ApiGetTelemetryHostCpusRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
	hostId     int32
	startTime  *int32
	endTime    *int32
}

// Start unix timestamp
func (r ApiGetTelemetryHostCpusRequest) StartTime(startTime int32) ApiGetTelemetryHostCpusRequest {
	r.startTime = &startTime
	return r
}

// End unix timestamp
func (r ApiGetTelemetryHostCpusRequest) EndTime(endTime int32) ApiGetTelemetryHostCpusRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryHostCpusRequest) Execute() ([]HostCpuTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostCpusExecute(r)
}

/*
GetTelemetryHostCpus Get cpu telemetry for the given host (default = last 24 hours)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param hostId
	@return ApiGetTelemetryHostCpusRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostCpus(ctx context.Context, hostId int32) ApiGetTelemetryHostCpusRequest {
	return ApiGetTelemetryHostCpusRequest{
		ApiService: a,
		ctx:        ctx,
		hostId:     hostId,
	}
}

// Execute executes the request
//
//	@return []HostCpuTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostCpusExecute(r ApiGetTelemetryHostCpusRequest) ([]HostCpuTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []HostCpuTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostCpus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/{hostId}/cpu"
	localVarPath = strings.Replace(localVarPath, "{"+"hostId"+"}", url.PathEscape(parameterValueToString(r.hostId, "hostId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryHostHardwareCapacitiesRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
	filter     *string
	startTime  *int32
	endTime    *int32
}

// You can filter based on following parameters&lt;br /&gt; - deploymentEnvironmentId&lt;br /&gt; - fleetId&lt;br /&gt; &lt;p&gt;The parameters can have a single value (e.g: fleetId&#x3D;1734197255512241679) or a list of values (e.g: fleetId&#x3D;8881688742569018542,76243584248556249)&lt;br /&gt; A filter example is: deploymentEnvironmentId&#x3D;8881688742569018542&amp;fleetId&#x3D;1734197255512241679,76243584248556249&lt;br /&gt; Remember to urlencode the provided filter&lt;br /&gt; E.g filter&#x3D;deploymentEnvironmentId%3D8881688742569018542%26fleetId%3D1734197255512241679%2C76243584248556249&lt;br /&gt; The final endpoint call would look like: /telemetry/host/hardwareCapacity?filter&#x3D;deploymentEnvironmentId%3D8881688742569018542%26fleetId%3D1734197255512241679%2C76243584248556249&lt;/p&gt;
func (r ApiGetTelemetryHostHardwareCapacitiesRequest) Filter(filter string) ApiGetTelemetryHostHardwareCapacitiesRequest {
	r.filter = &filter
	return r
}

// Unix timestamp. Filter from time, default value is -1 day
func (r ApiGetTelemetryHostHardwareCapacitiesRequest) StartTime(startTime int32) ApiGetTelemetryHostHardwareCapacitiesRequest {
	r.startTime = &startTime
	return r
}

// Unix timestamp. Filter to time, default value is now
func (r ApiGetTelemetryHostHardwareCapacitiesRequest) EndTime(endTime int32) ApiGetTelemetryHostHardwareCapacitiesRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryHostHardwareCapacitiesRequest) Execute() ([]HostHardwareCapacityTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostHardwareCapacitiesExecute(r)
}

/*
GetTelemetryHostHardwareCapacities List the historical data of hardware capacity of all your Hosts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryHostHardwareCapacitiesRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostHardwareCapacities(ctx context.Context) ApiGetTelemetryHostHardwareCapacitiesRequest {
	return ApiGetTelemetryHostHardwareCapacitiesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []HostHardwareCapacityTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostHardwareCapacitiesExecute(r ApiGetTelemetryHostHardwareCapacitiesRequest) ([]HostHardwareCapacityTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []HostHardwareCapacityTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostHardwareCapacities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/hardwareCapacity"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryHostHardwareCapacityCurrentsRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
	filter     *string
}

// You can filter based on following parameters&lt;br /&gt; - deploymentEnvironmentId&lt;br /&gt; - fleetId&lt;br /&gt; &lt;p&gt;The parameters can have a single value (e.g: fleetId&#x3D;1734197255512241679) or a list of values (e.g: fleetId&#x3D;8881688742569018542,76243584248556249)&lt;br /&gt; A filter example is: deploymentEnvironmentId&#x3D;8881688742569018542&amp;fleetId&#x3D;1734197255512241679,76243584248556249&lt;br /&gt; Remember to urlencode the provided filter&lt;br /&gt; E.g filter&#x3D;deploymentEnvironmentId%3D8881688742569018542%26fleetId%3D1734197255512241679%2C76243584248556249&lt;br /&gt; The final endpoint call would look like: /telemetry/host/hardwareCapacity?filter&#x3D;deploymentEnvironmentId%3D8881688742569018542%26fleetId%3D1734197255512241679%2C76243584248556249&lt;/p&gt;
func (r ApiGetTelemetryHostHardwareCapacityCurrentsRequest) Filter(filter string) ApiGetTelemetryHostHardwareCapacityCurrentsRequest {
	r.filter = &filter
	return r
}

func (r ApiGetTelemetryHostHardwareCapacityCurrentsRequest) Execute() ([]HostHardwareCapacityDataValueTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostHardwareCapacityCurrentsExecute(r)
}

/*
GetTelemetryHostHardwareCapacityCurrents List the current hardware capacity of all your Hosts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryHostHardwareCapacityCurrentsRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostHardwareCapacityCurrents(ctx context.Context) ApiGetTelemetryHostHardwareCapacityCurrentsRequest {
	return ApiGetTelemetryHostHardwareCapacityCurrentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []HostHardwareCapacityDataValueTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostHardwareCapacityCurrentsExecute(r ApiGetTelemetryHostHardwareCapacityCurrentsRequest) ([]HostHardwareCapacityDataValueTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []HostHardwareCapacityDataValueTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostHardwareCapacityCurrents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/hardwareCapacity/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryHostHddsRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
	hostId     int32
	startTime  *int32
	endTime    *int32
}

// Start unix timestamp
func (r ApiGetTelemetryHostHddsRequest) StartTime(startTime int32) ApiGetTelemetryHostHddsRequest {
	r.startTime = &startTime
	return r
}

// End unix timestamp
func (r ApiGetTelemetryHostHddsRequest) EndTime(endTime int32) ApiGetTelemetryHostHddsRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryHostHddsRequest) Execute() ([]HostHddTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostHddsExecute(r)
}

/*
GetTelemetryHostHdds Get hard disk telemetry for the given host (default = last 24 hours)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param hostId
	@return ApiGetTelemetryHostHddsRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostHdds(ctx context.Context, hostId int32) ApiGetTelemetryHostHddsRequest {
	return ApiGetTelemetryHostHddsRequest{
		ApiService: a,
		ctx:        ctx,
		hostId:     hostId,
	}
}

// Execute executes the request
//
//	@return []HostHddTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostHddsExecute(r ApiGetTelemetryHostHddsRequest) ([]HostHddTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []HostHddTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostHdds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/{hostId}/hdd"
	localVarPath = strings.Replace(localVarPath, "{"+"hostId"+"}", url.PathEscape(parameterValueToString(r.hostId, "hostId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryHostMemoriesRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
	hostId     int32
	startTime  *int32
	endTime    *int32
}

// Start unix timestamp
func (r ApiGetTelemetryHostMemoriesRequest) StartTime(startTime int32) ApiGetTelemetryHostMemoriesRequest {
	r.startTime = &startTime
	return r
}

// End unix timestamp
func (r ApiGetTelemetryHostMemoriesRequest) EndTime(endTime int32) ApiGetTelemetryHostMemoriesRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryHostMemoriesRequest) Execute() ([]HostMemoryTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostMemoriesExecute(r)
}

/*
GetTelemetryHostMemories Get memory telemetry for the given host (default = last 24 hours)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param hostId
	@return ApiGetTelemetryHostMemoriesRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostMemories(ctx context.Context, hostId int32) ApiGetTelemetryHostMemoriesRequest {
	return ApiGetTelemetryHostMemoriesRequest{
		ApiService: a,
		ctx:        ctx,
		hostId:     hostId,
	}
}

// Execute executes the request
//
//	@return []HostMemoryTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostMemoriesExecute(r ApiGetTelemetryHostMemoriesRequest) ([]HostMemoryTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []HostMemoryTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostMemories")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/{hostId}/memory"
	localVarPath = strings.Replace(localVarPath, "{"+"hostId"+"}", url.PathEscape(parameterValueToString(r.hostId, "hostId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryHostNetworksRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
	hostId     int32
	startTime  *int32
	endTime    *int32
}

// Start unix timestamp
func (r ApiGetTelemetryHostNetworksRequest) StartTime(startTime int32) ApiGetTelemetryHostNetworksRequest {
	r.startTime = &startTime
	return r
}

// End unix timestamp
func (r ApiGetTelemetryHostNetworksRequest) EndTime(endTime int32) ApiGetTelemetryHostNetworksRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryHostNetworksRequest) Execute() ([]HostNetworkTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostNetworksExecute(r)
}

/*
GetTelemetryHostNetworks Get network telemetry for the given host (default = last 24 hours)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param hostId
	@return ApiGetTelemetryHostNetworksRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostNetworks(ctx context.Context, hostId int32) ApiGetTelemetryHostNetworksRequest {
	return ApiGetTelemetryHostNetworksRequest{
		ApiService: a,
		ctx:        ctx,
		hostId:     hostId,
	}
}

// Execute executes the request
//
//	@return []HostNetworkTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostNetworksExecute(r ApiGetTelemetryHostNetworksRequest) ([]HostNetworkTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []HostNetworkTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostNetworks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/{hostId}/network"
	localVarPath = strings.Replace(localVarPath, "{"+"hostId"+"}", url.PathEscape(parameterValueToString(r.hostId, "hostId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryHostOnlineStatusCurrentsRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
}

func (r ApiGetTelemetryHostOnlineStatusCurrentsRequest) Execute() ([]HostOnlineStatusTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostOnlineStatusCurrentsExecute(r)
}

/*
GetTelemetryHostOnlineStatusCurrents List the statuses of currently available Hosts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryHostOnlineStatusCurrentsRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostOnlineStatusCurrents(ctx context.Context) ApiGetTelemetryHostOnlineStatusCurrentsRequest {
	return ApiGetTelemetryHostOnlineStatusCurrentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []HostOnlineStatusTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostOnlineStatusCurrentsExecute(r ApiGetTelemetryHostOnlineStatusCurrentsRequest) ([]HostOnlineStatusTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []HostOnlineStatusTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostOnlineStatusCurrents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/onlineStatus/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryHostOnlineStatusesRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
	startTime  *int32
	endTime    *int32
}

// Unix timestamp. Filter from time, default value is -1 day
func (r ApiGetTelemetryHostOnlineStatusesRequest) StartTime(startTime int32) ApiGetTelemetryHostOnlineStatusesRequest {
	r.startTime = &startTime
	return r
}

// Unix timestamp. Filter to time, default value is now
func (r ApiGetTelemetryHostOnlineStatusesRequest) EndTime(endTime int32) ApiGetTelemetryHostOnlineStatusesRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryHostOnlineStatusesRequest) Execute() ([]HostOnlineStatusHistoryTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostOnlineStatusesExecute(r)
}

/*
GetTelemetryHostOnlineStatuses List the historical data of status of all your Hosts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryHostOnlineStatusesRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostOnlineStatuses(ctx context.Context) ApiGetTelemetryHostOnlineStatusesRequest {
	return ApiGetTelemetryHostOnlineStatusesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []HostOnlineStatusHistoryTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostOnlineStatusesExecute(r ApiGetTelemetryHostOnlineStatusesRequest) ([]HostOnlineStatusHistoryTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []HostOnlineStatusHistoryTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostOnlineStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/onlineStatus"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryHostOveruseCurrentsRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
	rANGEDDATA *string
}

// Example header and default range: RANGED-DATA:start&#x3D;0,results&#x3D;25
func (r ApiGetTelemetryHostOveruseCurrentsRequest) RANGEDDATA(rANGEDDATA string) ApiGetTelemetryHostOveruseCurrentsRequest {
	r.rANGEDDATA = &rANGEDDATA
	return r
}

func (r ApiGetTelemetryHostOveruseCurrentsRequest) Execute() ([]HostOveruseTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostOveruseCurrentsExecute(r)
}

/*
GetTelemetryHostOveruseCurrents List of hosts that have traffic overuse

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryHostOveruseCurrentsRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostOveruseCurrents(ctx context.Context) ApiGetTelemetryHostOveruseCurrentsRequest {
	return ApiGetTelemetryHostOveruseCurrentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []HostOveruseTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostOveruseCurrentsExecute(r ApiGetTelemetryHostOveruseCurrentsRequest) ([]HostOveruseTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []HostOveruseTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostOveruseCurrents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/overuse/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rANGEDDATA == nil {
		return localVarReturnValue, nil, reportError("rANGEDDATA is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "RANGED-DATA", r.rANGEDDATA, "simple", "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryHostUtilizationAggregatesRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
	filter     *string
	startTime  *int32
	endTime    *int32
}

// You can filter based on following parameters&lt;br /&gt; - deploymentEnvironmentId&lt;br /&gt; - fleetId&lt;br /&gt; - deploymentRegionId&lt;br /&gt; - dcLocationId&lt;br /&gt; &lt;p&gt;The parameters can have a single value (e.g: fleetId&#x3D;1734197255512241679) or a list of values (e.g: deploymentRegionId&#x3D;8881688742569018542,76243584248556249)&lt;br /&gt; A filter example is: deploymentRegionId&#x3D;8881688742569018542,76243584248556249&amp;fleetId&#x3D;1734197255512241679&lt;br /&gt; Remember to urlencode the provided filter&lt;br /&gt; E.g filter&#x3D;deploymentRegionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;br /&gt; The final endpoint call would look like: /telemetry/host/status/aggregate?filter&#x3D;deploymentRegionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;/p&gt;
func (r ApiGetTelemetryHostUtilizationAggregatesRequest) Filter(filter string) ApiGetTelemetryHostUtilizationAggregatesRequest {
	r.filter = &filter
	return r
}

// Unix timestamp. Filter from time, default value is -1 day
func (r ApiGetTelemetryHostUtilizationAggregatesRequest) StartTime(startTime int32) ApiGetTelemetryHostUtilizationAggregatesRequest {
	r.startTime = &startTime
	return r
}

// Unix timestamp. Filter to time, default value is now
func (r ApiGetTelemetryHostUtilizationAggregatesRequest) EndTime(endTime int32) ApiGetTelemetryHostUtilizationAggregatesRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryHostUtilizationAggregatesRequest) Execute() (*HostUtilizationAggregateTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostUtilizationAggregatesExecute(r)
}

/*
GetTelemetryHostUtilizationAggregates Get the average of server host status telemetry

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryHostUtilizationAggregatesRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostUtilizationAggregates(ctx context.Context) ApiGetTelemetryHostUtilizationAggregatesRequest {
	return ApiGetTelemetryHostUtilizationAggregatesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return HostUtilizationAggregateTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostUtilizationAggregatesExecute(r ApiGetTelemetryHostUtilizationAggregatesRequest) (*HostUtilizationAggregateTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HostUtilizationAggregateTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostUtilizationAggregates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/utilization/aggregate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryHostUtilizationsRequest struct {
	ctx        context.Context
	ApiService *HostTelemetryAPIService
	filter     *string
}

// You can filter based on following parameters&lt;br /&gt; - deploymentEnvironmentId&lt;br /&gt; - fleetId&lt;br /&gt; - deploymentRegionId&lt;br /&gt; - dcLocationId&lt;br /&gt; &lt;p&gt;The parameters can have a single value (e.g: fleetId&#x3D;1734197255512241679) or a list of values (e.g: deploymentRegionId&#x3D;8881688742569018542,76243584248556249)&lt;br /&gt; A filter example is: deploymentRegionId&#x3D;8881688742569018542,76243584248556249&amp;fleetId&#x3D;1734197255512241679&lt;br /&gt; Remember to urlencode the provided filter&lt;br /&gt; E.g filter&#x3D;deploymentRegionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;br /&gt; The final endpoint call would look like: /telemetry/host/status?filter&#x3D;deploymentRegionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;/p&gt;
func (r ApiGetTelemetryHostUtilizationsRequest) Filter(filter string) ApiGetTelemetryHostUtilizationsRequest {
	r.filter = &filter
	return r
}

func (r ApiGetTelemetryHostUtilizationsRequest) Execute() ([]HostUtilizationTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryHostUtilizationsExecute(r)
}

/*
GetTelemetryHostUtilizations Get the telemetry for all hosts across all providers at the current point in time

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryHostUtilizationsRequest
*/
func (a *HostTelemetryAPIService) GetTelemetryHostUtilizations(ctx context.Context) ApiGetTelemetryHostUtilizationsRequest {
	return ApiGetTelemetryHostUtilizationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []HostUtilizationTelemetry
func (a *HostTelemetryAPIService) GetTelemetryHostUtilizationsExecute(r ApiGetTelemetryHostUtilizationsRequest) ([]HostUtilizationTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []HostUtilizationTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostTelemetryAPIService.GetTelemetryHostUtilizations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/host/utilization"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
