openapi: 3.0.1
info:
  contact:
    email: info@i3d.net
    name: email
  description: |-
    Documentation links:
    - <a href="https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Usage/">API Usage</a>
    - <a href="https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Authentication/">API Authentication</a>
    - <a href="https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Handling/">API Error Handling</a>
    - <a href="https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Codes/">API Error Codes</a>
    - <a href="https://www.i3d.net/docs/one/odp/">All ONE Deployment Platform Documentation</a>
  title: i3D.net One-Deployment-Platform Endpoints
  version: 3.0.0
servers:
- url: https://api.i3d.net
security:
- ApiKey: []
tags:
- description: All application endpoints
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Application/
  name: Application
- description: Assignable file for application installs
  name: ApplicationAssignableFile
- description: All application build endpoints
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Platform-Elements/Application/ApplicationBuild/
  name: ApplicationBuild
- description: All application build telemetry endpoints
  name: ApplicationBuildTelemetry
- description: Application install endpoints
  name: ApplicationInstall
- description: Application install create endpoints.
  name: ApplicationInstallCreate
- description: List all the application instance endpoints
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Platform-Elements/Application/ApplicationInstance/
  name: ApplicationInstance
- description: Application instance task execution
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Platform-Features/Task-System/
  name: ApplicationInstanceTask
- description: Game server telemetry requests
  name: ApplicationInstanceTelemetry
- description: All application telemetry endpoints
  name: ApplicationTelemetry
- description: custom commands All Arcus custom commands endpoints
  name: Arcus
- description: All BuildProvisioning endpoints
  name: BuildProvisioning
- description: CCU telemetry requests
  name: CCUTelemetry
- description: Generic cloud endpoints
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Cloud-Usage/
  name: Cloud
- description: Configure your cloud credentials
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Cloud-Usage/Cloud-Credentials/
  name: CloudCredentials
- description: Cloud detail endpoints
  name: CloudDetail
- description: All crash event endpoints
  name: CrashEvent
- description: All deployment environment endpoints
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Platform-Elements/Deployment/DeploymentEnvironment/
  name: DeploymentEnvironment
- description: All deployment environment endpoints
  name: DeploymentEnvironmentTelemetry
- description: (Cloud) deployment and scaling configuration
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Platform-Elements/Deployment/DeploymentProfile/
  name: DeploymentProfile
- description: All deployment template endpoints
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Platform-Elements/Deployment/DeploymentTemplates/
  name: DeploymentTemplate
- description: All fleet endpoints
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Platform-Elements/Deployment/Fleet/
  name: Fleet
- description: Host (bare metal or VM) requests
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Platform-Elements/Host/Host/
  name: Host
- description: Host alerts management
  name: HostAlert
- description: Controls the capacity of each host
  name: HostCapacityTemplate
- description: Host telemetry requests
  name: HostTelemetry
- description: Controlling the capacity of each instance type
  name: InstanceTypeCapacity
- description: List all patch job endpoint
  externalDocs:
    description: Documentation
    url: https://www.i3d.net/docs/one/odp/Platform-Processes/Patching/
  name: PatchJob
paths:
  /v3/deploymentEnvironment:
    get:
      operationId: getDeploymentEnvironments
      parameters:
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentEnvironment'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the details of all your deployment environment
      tags:
      - DeploymentEnvironment
    post:
      operationId: createDeploymentEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentEnvironment'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentEnvironment'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Create a deployment environment
      tags:
      - DeploymentEnvironment
  /v3/deploymentEnvironment/{deploymentEnvironmentId}:
    delete:
      operationId: deleteDeploymentEnvironment
      parameters:
      - description: The Id of the deployment environment
        explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId
        "409":
          description: Cannot delete
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Delete given deployment environment
      tags:
      - DeploymentEnvironment
    get:
      operationId: getDeploymentEnvironment
      parameters:
      - description: The Id of the deployment environment
        explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentEnvironment'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the details of the given deployment environment
      tags:
      - DeploymentEnvironment
    put:
      operationId: updateDeploymentEnvironment
      parameters:
      - description: The Id of the deployment environment
        explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentEnvironment'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentEnvironment'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Update given deployment environment
      tags:
      - DeploymentEnvironment
  /v3/deploymentEnvironment/{deploymentEnvironmentId}/fleet:
    get:
      operationId: getDeploymentEnvironmentFleets
      parameters:
      - description: The Id of the deployment environment
        explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all the active fleets that belong to the given deployment environment.
      tags:
      - DeploymentEnvironment
  /v3/deploymentEnvironment/{deploymentEnvironmentId}/host:
    get:
      operationId: getDeploymentEnvironmentHosts
      parameters:
      - description: The Id of the deployment environment
        explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Host'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all your hosts for given deployment environment
      tags:
      - DeploymentEnvironment
  /v3/deploymentEnvironment/{deploymentEnvironmentId}/application/inUse:
    get:
      operationId: getDeploymentEnvironmentApplicationInUses
      parameters:
      - description: The Id of the deployment environment
        explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the list of in use applications for given deployment environment
        Id
      tags:
      - DeploymentEnvironment
  /v3/deploymentEnvironment/{deploymentEnvironmentId}/application/{applicationId}/fleet:
    get:
      operationId: getDeploymentEnvironmentApplicationFleets
      parameters:
      - description: The Id of the deployment environment
        explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      - description: The Id of the application
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId or applicationId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: "Get the list of fleet in a deployment environment, having a certain\
        \ application of type game"
      tags:
      - DeploymentEnvironment
  /v3/deploymentEnvironment/{deploymentEnvironmentId}/applicationBuild/inUse:
    get:
      operationId: getDeploymentEnvironmentApplicationBuildInUses
      parameters:
      - description: The Id of the deployment environment
        explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationBuild'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the list of in use application builds for a given deployment environment
        Id
      tags:
      - DeploymentEnvironment
  /v3/deploymentEnvironment/{deploymentEnvironmentId}/deploymentProfile:
    get:
      operationId: getDeploymentEnvironmentDeploymentProfiles
      parameters:
      - description: The Id of the deployment environment
        explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentProfile'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all the cloud deployment profiles you have created
      tags:
      - DeploymentEnvironment
  /v3/deploymentEnvironment/{deploymentEnvironmentId}/applicationInstance:
    get:
      description: "Note: bare metal servers and VMs are exposed in the same manner,\
        \ as \"dedicated servers\". hostId can be found in the /host endpoint."
      operationId: getDeploymentEnvironmentApplicationInstances
      parameters:
      - description: The Id of the deployment environment
        explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Label expressions can be used to apply more specific search parameters and can be written in standard SQL query language.<br />
          E.g. `region_id=123` or multiple filters: `region_id=123 and fleet_id=456 or host_id=46256` The provided filter query needs to be url encoded. E.g.<br />
          `region_id%3D123` or multiple filters: `region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256` The total would look like:<br />
          `/deploymentEnvironment/{deploymentEnvironmentId}/applicationInstance?labels=region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256`<br />
          If you want to filter on a non-numeric label such as `region_name`, you have to wrap the value in double quotes: `region_name="Rotterdam"`<br />
          Warning: the `labels` query parameter is ignored when passing a `PAGE-TOKEN` and the original `labels` string will be used for that request instead.<br />
          More information on the use of labels can be found <a href="https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Label/#pre-defined-labels">here</a>.
        explode: true
        in: query
        name: labels
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Filter expression can be used to apply more specific search on most parameters in the application instance, it is written like<br />
          this E.G. `regionId=123` or multiple filters: `regionId=123 and fleetId=456`, only the `AND` statement is supported at this time. You can also<br />
          search inside nested objects like `metaData.key="testing"` and `metaData.value="test"` You can only search on exact matches.<br />
          Warning: the `filters` query parameter is ignored when passing a `PAGE-TOKEN` and the original `filters` string will be used for that request<br />
          instead.<br />
          Warning: filtering on the following parameters is currently not supported and will give an error:<br />
          `autoRestart`, `liveGameVersion`, `liveHostName`, `liveMap`, `liveRules`, `manuallyDeployed`, `markedForDeletion`, `numPlayers`, `numPlayersMax`,<br />
          `pid`, `pidChangedAt`, `startedAt`, `status`, `stoppedAt`, `updatedAt`
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Sort expression to sort your results in the order that you like E.G. "sort=fleetId=ASC and applicationId DESC" Be aware that all filters<br />
          and sorting should be url encoded.<br />
          Warning: the `sort` query parameter is ignored when passing a `PAGE-TOKEN` and the original `sort` string will be used for that request instead<br />
          Warning: sorting on the following parameters is currently not supported and will give an error:<br />
          `autoRestart`, `liveGameVersion`, `liveHostName`, `liveMap`, `liveRules`, `manuallyDeployed`, `markedForDeletion`, `numPlayers`, `numPlayersMax`,<br />
          `pid`, `pidChangedAt`, `startedAt`, `status`, `stoppedAt`, `updatedAt`
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Example header and default range: RANGED-DATA: <span style="text-decoration: line-through">start=0,</span>results=25<br />
          Warning: the `start` variable of the `RANGED-DATA` object has been deprecated for this endpoint. It is not possible to supply a start, see<br />
          `PAGE-TOKEN` header for a replacement
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          This token will be provided by this endpoint to allow for pagination functionality. By performing a request to this endpoint<br />
          without the `PAGE-TOKEN` you will retrieve the first page of search results. If a `PAGE-TOKEN` is returned, a next page may be requested by<br />
          supplying that token in the next request using the same `PAGE-TOKEN` key and value in the request header. If no `PAGE-TOKEN` is returned, the last<br />
          page has been reached and no further data can be requested. A returned `PAGE-TOKEN` is valid until the date specified in the `Expires` response<br />
          header. Example: `PAGE-TOKEN: eyJjb25kaXRpb25zIjp7InVzZXJJZCI6NjY2ODI1fSwibGFiZWxz(...)` (truncated for readability)<br />
          Expires header example: `Expires: Fri, 08 Jan 2021 09:10:29 GMT`
        explode: false
        in: header
        name: PAGE-TOKEN
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationInstance'
                type: array
          description: OK
        "400":
          description: '`PAGE-TOKEN` did not have an expected structure and is invalid.
            Please try again by sending a request without a `PAGE-TOKEN` and restarting'
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId
        "410":
          description: '`PAGE-TOKEN` is expired. Acquire a new `PAGE-TOKEN` by sending
            a request without a `PAGE-TOKEN` and try again'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all the application instances for the given deployment environment
      tags:
      - DeploymentEnvironment
  /v3/telemetry/deploymentEnvironment/{deploymentEnvironmentId}/current:
    get:
      operationId: getTelemetryDeploymentEnvironmentCurrents
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentEnvironmentTelemetryModel'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentEnvironmentId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get current deployment environment telemetry
      tags:
      - DeploymentEnvironmentTelemetry
  /v3/fleet:
    get:
      operationId: getFleets
      parameters:
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get a list of fleets
      tags:
      - Fleet
    post:
      operationId: createFleet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fleet'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Create a new fleet
      tags:
      - Fleet
  /v3/fleet/{fleetId}:
    delete:
      operationId: deleteFleet
      parameters:
      - description: The ID of the fleet
        explode: false
        in: path
        name: fleetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId
        "409":
          description: "Fleet in use, cannot delete"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Removes an existing fleet. Note that it may not have any active servers
        assigned to it.
      tags:
      - Fleet
    get:
      operationId: getFleet
      parameters:
      - description: The Id of the fleet
        explode: false
        in: path
        name: fleetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get a specific fleet by Id
      tags:
      - Fleet
    put:
      operationId: updateFleet
      parameters:
      - description: The Id of the fleet
        explode: false
        in: path
        name: fleetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fleet'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Update given fleet
      tags:
      - Fleet
  /v3/fleet/{fleetId}/operationalStatus:
    put:
      operationId: updateFleetOperationalStatus
      parameters:
      - description: The Id of the fleet
        explode: false
        in: path
        name: fleetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationalStatus'
        description: |-
          Options:
          - 0: Manual, no application instances will be deployed nor deleted
          - 1: Automatic deployment enabled, the initial deploy according to deploymentProfile will be activated
          - 2: Automatic scaling enabled, scaling based on demand will be activated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Update the operational status of the given fleet
      tags:
      - Fleet
  /v3/fleet/{fleetId}/host/reserved:
    get:
      operationId: getFleetHostReserveds
      parameters:
      - description: The Id of the fleet
        explode: false
        in: path
        name: fleetId
        required: true
        schema:
          type: string
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Host'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all hosts reserved for the given fleet
      tags:
      - Fleet
  /v3/fleet/host/bulkReserve:
    post:
      operationId: createFleetHostBulkReserve
      parameters:
      - description: |-
          Response header which you can use to fetch the status of the bulk reservation of hosts by using endpoint<br />
          [`GET /v3/fleet/host/bulkReserve/{traceId}/status`](#/Fleet/getFleetHostBulkReserveStatuses)
        explode: false
        in: header
        name: 'X-Trace-Id:'
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkReserveHostByFleet'
        description: ""
        required: true
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Reserve a list of hosts for a specific new fleet. The existing application
        instances on these servers will be automatically scaled down.
      tags:
      - Fleet
  /v3/fleet/host/bulkReserve/{traceId}/status:
    get:
      operationId: getFleetHostBulkReserveStatuses
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BulkReserveHostByFleetStatus'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: "Progress for the bulk reserve you have done, base on the trace id\
        \ you received in the header when you have created the bulk reserve"
      tags:
      - Fleet
  /v3/fleet/{fleetId}/host:
    get:
      operationId: getFleetHosts
      parameters:
      - description: The Id of the fleet
        explode: false
        in: path
        name: fleetId
        required: true
        schema:
          type: string
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Host'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all your hosts for a fleet.
      tags:
      - Fleet
  /v3/fleet/{fleetId}/host/{hostId}/reserve:
    put:
      operationId: updateFleetHostReserve
      parameters:
      - description: The Id of the fleet
        explode: false
        in: path
        name: fleetId
        required: true
        schema:
          type: string
        style: simple
      - description: The Id of the host
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId
        "409":
          description: Host is already reserved
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Reserve the given host for the given fleet Id
      tags:
      - Fleet
  /v3/fleet/{fleetId}/host/{hostId}/unreserve:
    put:
      description: |-
        There are three situations you need to be aware of when un-reserving a fleet:
        * You have application instances on the host and auto-scaling is enabled: Eventually the host is scaled down and its `fleetId` will be set to `0`, at which point
        it may be re-purposed for another fleet
        * You have application instances on the host and auto-scaling is not enabled: The host is not automatically scaled down and you will need to manually scale down
        the application instances on this host for it to be available for another fleet
        * You have no application instances: The host is unreserved and its `fleetId` is immediately set to `0`, allowing the host to be re-purposed for another fleet
      operationId: updateFleetHostUnreserve
      parameters:
      - description: The ID of the fleet
        explode: false
        in: path
        name: fleetId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the host
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId or hostId
        "409":
          description: Host cannot be unreserved
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Remove a fleet reservation from the given host. Sets `fleetId` to `0`
        only if no application instances are deployed on it.
      tags:
      - Fleet
  /v3/fleet/{fleetId}/application/inUse:
    get:
      operationId: getFleetApplicationInUses
      parameters:
      - description: The Id of the fleet
        explode: false
        in: path
        name: fleetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the list of applications for the given fleet
      tags:
      - Fleet
  /v3/fleet/{fleetId}/applicationBuild/inUse:
    get:
      operationId: getFleetApplicationBuildInUses
      parameters:
      - description: The Id of the fleet
        explode: false
        in: path
        name: fleetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationBuild'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the list of application builds for the given fleet
      tags:
      - Fleet
  /v3/fleet/{fleetId}/gameLiftDeploymentEnvironmentVariables:
    get:
      operationId: getFleetGameLiftDeploymentEnvironmentVariables
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GameLiftEnvironmentVariables'
                type: array
          description: OK
        "400":
          description: Bad request
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get a list of environment variables for a fleet
      tags:
      - Fleet
    put:
      operationId: updateFleetGameLiftDeploymentEnvironmentVariables
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GameLiftEnvironmentVariables'
                type: array
          description: OK
        "400":
          description: Bad request
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Add or update environment variables for a fleet
      tags:
      - Fleet
  /v3/telemetry/fleet/{fleetId}/current:
    get:
      operationId: getTelemetryFleetCurrents
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FleetTelemetryModel'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid fleetId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get current fleet telemetry
      tags:
      - Fleet
  /v3/deploymentTemplate/game:
    get:
      operationId: getDeploymentTemplateGames
      parameters:
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GameDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all game deployment templates
      tags:
      - DeploymentTemplate
    post:
      operationId: createDeploymentTemplateGame
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameDeploymentTemplate'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GameDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Create a game deployment template
      tags:
      - DeploymentTemplate
  /v3/deploymentTemplate/game/{deploymentTemplateId}:
    delete:
      operationId: deleteDeploymentTemplateGame
      parameters:
      - description: The Id of the deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "409":
          description: "If the template is in use, it cannot be deleted"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Delete given game deployment template.
      tags:
      - DeploymentTemplate
    get:
      operationId: getDeploymentTemplateGame
      parameters:
      - description: The Id of the deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GameDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the details of game deployment template
      tags:
      - DeploymentTemplate
    put:
      operationId: updateDeploymentTemplateGame
      parameters:
      - description: The Id of the deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameDeploymentTemplate'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDeploymentTemplate'
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Update given game deployment template.
      tags:
      - DeploymentTemplate
  /v3/deploymentTemplate/game/{deploymentTemplateId}/fleet:
    get:
      operationId: getDeploymentTemplateGameFleets
      parameters:
      - description: The Id of the deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all fleets using the given game deploymentTemplateId
      tags:
      - DeploymentTemplate
  /v3/deploymentTemplate/utility:
    get:
      operationId: getDeploymentTemplateUtilities
      parameters:
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UtilityDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: All your utility deployment templates
      tags:
      - DeploymentTemplate
    post:
      operationId: createDeploymentTemplateUtility
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityDeploymentTemplate'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UtilityDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Create an instance of utility deployment template.
      tags:
      - DeploymentTemplate
  /v3/deploymentTemplate/utility/{deploymentTemplateId}:
    delete:
      operationId: deleteDeploymentTemplateUtility
      parameters:
      - description: The Id of the deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "409":
          description: "If the template is in use, it cannot be deleted"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Delete given utility deployment template
      tags:
      - DeploymentTemplate
    get:
      operationId: getDeploymentTemplateUtility
      parameters:
      - description: The Id of the deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UtilityDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the details of a utility deployment template
      tags:
      - DeploymentTemplate
    put:
      operationId: updateDeploymentTemplateUtility
      parameters:
      - description: The Id of the deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityDeploymentTemplate'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UtilityDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Update an instance of utility deployment template
      tags:
      - DeploymentTemplate
  /v3/deploymentTemplate/utility/{deploymentTemplateId}/fleet:
    get:
      operationId: getDeploymentTemplateUtilityFleets
      parameters:
      - description: The Id of the deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get list of fleet using utility deployment template Id
      tags:
      - DeploymentTemplate
  /v3/deploymentTemplate/dependency:
    get:
      operationId: getDeploymentTemplateDependencies
      parameters:
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DependencyDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all dependency deployment templates
      tags:
      - DeploymentTemplate
    post:
      operationId: createDeploymentTemplateDependency
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DependencyDeploymentTemplate'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DependencyDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Create a dependency deployment template
      tags:
      - DeploymentTemplate
  /v3/deploymentTemplate/dependency/{deploymentTemplateId}:
    delete:
      operationId: deleteDeploymentTemplateDependency
      parameters:
      - description: The Id of the dependency deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "409":
          description: "If the template is in use, it cannot be deleted"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Delete given dependency deployment template.
      tags:
      - DeploymentTemplate
    get:
      operationId: getDeploymentTemplateDependency
      parameters:
      - description: The Id of the dependency deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DependencyDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the details of dependency deployment template
      tags:
      - DeploymentTemplate
    put:
      operationId: updateDeploymentTemplateDependency
      parameters:
      - description: The Id of the dependency deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DependencyDeploymentTemplate'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DependencyDeploymentTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Update given dependency deployment template.
      tags:
      - DeploymentTemplate
  /v3/deploymentTemplate/dependency/{deploymentTemplateId}/fleet:
    get:
      operationId: getDeploymentTemplateDependencyFleets
      parameters:
      - description: The Id of the dependency deployment template
        explode: false
        in: path
        name: deploymentTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid deploymentTemplateId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all fleets using the given deploymentTemplateId
      tags:
      - DeploymentTemplate
  /v3/hostCapacityTemplate:
    get:
      operationId: getHostCapacityTemplates
      parameters:
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostCapacityTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the details of all your host capacity templates
      tags:
      - HostCapacityTemplate
    post:
      operationId: createHostCapacityTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostCapacityTemplate'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostCapacityTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Create a host capacity template
      tags:
      - HostCapacityTemplate
  /v3/hostCapacityTemplate/{hostCapacityTemplateId}:
    delete:
      operationId: deleteHostCapacityTemplate
      parameters:
      - description: The Id of the host capacity template
        explode: false
        in: path
        name: hostCapacityTemplateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "404":
          description: Invalid hostCapacityTemplateId
        "409":
          description: Cannot delete
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Delete given host capacity template
      tags:
      - HostCapacityTemplate
    get:
      operationId: getHostCapacityTemplate
      parameters:
      - description: The Id of the host capacity template
        explode: false
        in: path
        name: hostCapacityTemplateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostCapacityTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid hostCapacityTemplateId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the details of the given host capacity template
      tags:
      - HostCapacityTemplate
    put:
      operationId: updateHostCapacityTemplate
      parameters:
      - description: The Id of the host capacity template
        explode: false
        in: path
        name: hostCapacityTemplateId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostCapacityTemplate'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostCapacityTemplate'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid hostCapacityTemplateId
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Update given host capacity template
      tags:
      - HostCapacityTemplate
  /v3/hostCapacityTemplate/{hostCapacityTemplateId}/fleet:
    get:
      operationId: getHostCapacityTemplateFleets
      parameters:
      - description: The Id of the host capacity template
        explode: false
        in: path
        name: hostCapacityTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fleet'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid hostCapacityTemplateId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all fleets that are using the given host capacity template
      tags:
      - HostCapacityTemplate
  /v3/hostCapacityTemplate/{hostCapacityTemplateId}/applicationBuild:
    get:
      operationId: getHostCapacityTemplateApplicationBuilds
      parameters:
      - description: The Id of the host capacity template
        explode: false
        in: path
        name: hostCapacityTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationBuild'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid hostCapacityTemplateId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all application builds that are using the given host capacity template
      tags:
      - HostCapacityTemplate
  /v3/hostCapacityTemplate/{hostCapacityTemplateId}/instanceTypeCapacity:
    get:
      operationId: getHostCapacityTemplateInstanceTypeCapacities
      parameters:
      - description: The ID of the hostCapacityTemplate
        explode: false
        in: path
        name: hostCapacityTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InstanceTypeCapacity'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the details of all your instance type capacities under a host capacity
        template
      tags:
      - InstanceTypeCapacity
    post:
      operationId: createHostCapacityTemplateInstanceTypeCapacity
      parameters:
      - description: The ID of the hostCapacityTemplate
        explode: false
        in: path
        name: hostCapacityTemplateId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceTypeCapacity'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InstanceTypeCapacity'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Create an instance type capacity for the specified hostCapacityTemplateId
      tags:
      - InstanceTypeCapacity
  /v3/instanceTypeCapacity/{instanceTypeCapacityId}:
    delete:
      operationId: deleteInstanceTypeCapacity
      parameters:
      - description: The Id of the host capacity template
        explode: false
        in: path
        name: instanceTypeCapacityId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "404":
          description: Invalid instanceTypeCapacityId
        "409":
          description: Cannot delete
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Delete given host capacity template
      tags:
      - InstanceTypeCapacity
    get:
      operationId: getInstanceTypeCapacity
      parameters:
      - description: The Id of the instance type capacity
        explode: false
        in: path
        name: instanceTypeCapacityId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InstanceTypeCapacity'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid instanceTypeCapacityId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the details of the given instance type capacity
      tags:
      - InstanceTypeCapacity
    put:
      operationId: updateInstanceTypeCapacity
      parameters:
      - description: The Id of the host capacity template
        explode: false
        in: path
        name: instanceTypeCapacityId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceTypeCapacity'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InstanceTypeCapacity'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid instanceTypeCapacityId
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Update given host capacity template
      tags:
      - InstanceTypeCapacity
  /v3/host:
    get:
      operationId: getHosts
      parameters:
      - description: |-
          Label expressions can be used to apply more specific search parameters and can be written in standard SQL query language.<br />
          E.g. `region_id=123` or multiple filters: `region_id=123 and fleet_id=456 or host_id=46256` The provided filter query needs to be url encoded. E.g.<br />
          `region_id%3D123` or multiple filters: `region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256` The total would look like:<br />
          `/host?labels=region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256`<br />
          If you want to filter on a non-numeric label such as `region_name`, you have to wrap the value in double quotes: `region_name="Rotterdam"`<br />
          Warning: the `labels` query parameter is ignored when passing a `PAGE-TOKEN` and the original `labels` string will be used for that request instead.<br />
          For more information about labels check <a href="https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Label/#pre-defined-labels">details</a>
        explode: true
        in: query
        name: labels
        required: false
        schema:
          type: string
        style: form
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Host'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all your hosts (can be bare metal servers or VMs) and their main
        details
      tags:
      - Host
  /v3/host/summary:
    get:
      operationId: getHostSummaries
      parameters:
      - description: "Fields return in response, only fields available in model can\
          \ be filter out"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostSummary'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all your hosts (can be bare metal servers or VMs) and their main
        details
      tags:
      - Host
  /v3/host/{hostId}:
    get:
      operationId: getHost
      parameters:
      - explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Host'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get a host (can be bare metal servers or VMs) and their main details
      tags:
      - Host
    put:
      operationId: updateHost
      parameters:
      - explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Host'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Host'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: "Can add, edit or delete host labels. To delete label need to provide\
        \ key with null value."
      tags:
      - Host
  /v3/host/{hostId}/task:
    get:
      operationId: getHostTasks
      parameters:
      - description: The ID of the host
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TaskStatus'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid hostId
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the last 50 tasks of the given host
      tags:
      - Host
  /v3/host/liveState:
    get:
      operationId: getHostLiveStates
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostLiveState'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get live situation of all the gaming hosts
      tags:
      - Host
  /v3/host/instanceType:
    get:
      operationId: getHostInstanceTypes
      parameters:
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InstanceTypeBM'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all bare metal instance types (and their details) available for
        your account
      tags:
      - Host
  /v3/host/{hostId}/invoice:
    get:
      operationId: getHostInvoices
      parameters:
      - description: ID of the host to fetch invoices for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Invoice'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all the invoices for a specific host
      tags:
      - Host
  /v3/host/{hostId}/cancel:
    put:
      operationId: cancelHost
      parameters:
      - description: ID of the host to cancel
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
          description: cancelled successfully
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID
        "422":
          description: Unable to cancel host
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Cancels a host. If you cancel a host you will continue to have access
        to the host until the end of the contract
      tags:
      - Host
  /v3/host/{hostId}/cancel/revert:
    put:
      operationId: revertHostCancellation
      parameters:
      - description: ID of the host to revert the cancellation for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
          description: cancellation was reverted successfully
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID
        "422":
          description: Unable to revert cancellation of host
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: |-
        Reverts the cancellation of a host. You cannot revert the cancellation a host if the current date is equal to or past the end of contract date,
        nor if the host was never cancelled
      tags:
      - Host
  /v3/host/{hostId}/network/usage/{upLinkId}/raw:
    get:
      operationId: getHostNetworkUsageRaw
      parameters:
      - description: ID of the host to fetch traffic for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      - description: ID of the uplink to fetch traffic for
        explode: false
        in: path
        name: upLinkId
        required: true
        schema:
          type: integer
        style: simple
      - description: Start unix timestamp
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: integer
        style: form
      - description: End unix timestamp
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TrafficUsage'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID or uplink ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the traffic usage data for the last day
      tags:
      - Host
  /v3/host/{hostId}/network/usage/{upLinkId}/graph/year:
    get:
      operationId: getHostNetworkUsageGraphYears
      parameters:
      - description: ID of the host to fetch traffic for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      - description: ID of the uplink to fetch traffic for
        explode: false
        in: path
        name: upLinkId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  format: ""
                  type: string
                type: array
          description: Base64 encoded image string
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID or uplink ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the traffic usage graph (last year)
      tags:
      - Host
  /v3/host/{hostId}/network/usage/{upLinkId}/graph/month:
    get:
      operationId: getHostNetworkUsageGraphMonths
      parameters:
      - description: ID of the host to fetch traffic for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      - description: ID of the uplink to fetch traffic for
        explode: false
        in: path
        name: upLinkId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  format: ""
                  type: string
                type: array
          description: Base64 encoded image string
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID or uplink ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the traffic usage graph (last 30 days)
      tags:
      - Host
  /v3/host/{hostId}/network/usage/{upLinkId}/graph/week:
    get:
      operationId: getHostNetworkUsageGraphWeeks
      parameters:
      - description: ID of the host to fetch traffic for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      - description: ID of the uplink to fetch traffic for
        explode: false
        in: path
        name: upLinkId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  format: ""
                  type: string
                type: array
          description: Base64 encoded image string
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID or uplink ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the traffic usage graph (last 7 days)
      tags:
      - Host
  /v3/host/{hostId}/network/usage/{upLinkId}/graph/day:
    get:
      operationId: getHostNetworkUsageGraphDays
      parameters:
      - description: ID of the host to fetch traffic for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      - description: ID of the uplink to fetch traffic for
        explode: false
        in: path
        name: upLinkId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  format: ""
                  type: string
                type: array
          description: Base64 encoded image string
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID or uplink ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the traffic usage graph (last 24 hours)
      tags:
      - Host
  /v3/host/{hostId}/status:
    get:
      operationId: getHostStatuses
      parameters:
      - description: ID of the host to fetch the status for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostActionResponse'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the power status of the host
      tags:
      - Host
  /v3/host/{hostId}/bmcStatus:
    get:
      operationId: getHostBmcStatuses
      parameters:
      - description: ID of the host to fetch BMC status for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostActionResponse'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get the BMC power status of the host
      tags:
      - Host
  /v3/host/{hostId}/start:
    put:
      operationId: updateHostStart
      parameters:
      - description: ID of the host to turn on
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostActionResponse'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Turn the host On
      tags:
      - Host
  /v3/host/{hostId}/stop:
    put:
      operationId: updateHostStop
      parameters:
      - description: ID of the host to turn off
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostActionResponse'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Turn the host Off
      tags:
      - Host
  /v3/host/{hostId}/restart:
    put:
      operationId: updateHostRestart
      parameters:
      - description: ID of the host to restart
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostActionResponse'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Restart the host
      tags:
      - Host
  /v3/host/{hostId}/os/install:
    post:
      operationId: createHostOsInstall
      parameters:
      - description: ID of the host to install
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostOsInstall'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostOsInstall'
                type: array
          description: OK
        "404":
          description: Invalid host ID
        "422":
          description: Unprocessable entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Install an operating system on the host
      tags:
      - Host
  /v3/host/{hostId}/os/installLog:
    get:
      operationId: getHostOsInstallLogs
      parameters:
      - description: ID of the host to fetch install logs for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ServerLog'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get all OS installation logs on this host
      tags:
      - Host
  /v3/host/{hostId}/formatDisks:
    post:
      operationId: createHostFormatDisk
      parameters:
      - description: ID of the host to format disks for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostFormatDisks'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostFormatDisks'
                type: array
          description: OK
        "404":
          description: Invalid host ID
        "422":
          description: Unprocessable entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Format all disks inside the host
      tags:
      - Host
  /v3/host/{hostId}/alert:
    get:
      operationId: getHostAlerts
      parameters:
      - description: ID of the host to fetch alert for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      - description: "Example header and default range: RANGED-DATA:start=0,results=25"
        explode: false
        in: header
        name: RANGED-DATA
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostAlert'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get alerts defined for the given host
      tags:
      - HostAlert
    post:
      operationId: createHostAlert
      parameters:
      - description: ID of the host to create an alert for
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostAlert'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostAlert'
                type: array
          description: OK
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID
        "422":
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Create alert for the host
      tags:
      - HostAlert
  /v3/host/{hostId}/alert/{hostAlertId}:
    delete:
      operationId: deleteHostAlert
      parameters:
      - description: ID of the host that the alert belongs to
        explode: false
        in: path
        name: hostId
        required: true
        schema:
          type: integer
        style: simple
      - description: ID of the alert to delete
        explode: false
        in: path
        name: hostAlertId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          description: Invalid credentials
        "404":
          description: Invalid host ID or alert ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Delete host alert
      tags:
      - HostAlert
    put:
      operationId: updateHostAlert
      parameters:
      - description: ID of the host that the alert belongs to
        explode: false
        in: path
        name: hostId
[...]
