/*
i3D.net One-Deployment-Platform Endpoints

Documentation links: - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Usage/\">API Usage</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Authentication/\">API Authentication</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Handling/\">API Error Handling</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Codes/\">API Error Codes</a> - <a href=\"https://www.i3d.net/docs/one/odp/\">All ONE Deployment Platform Documentation</a>

API version: 3.0.0
Contact: info@i3d.net
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ApplicationInstanceAPIService ApplicationInstanceAPI service
type ApplicationInstanceAPIService service

type ApiAllocateEmptyGameServersByApplicationIdRequest struct {
	ctx           context.Context
	ApiService    *ApplicationInstanceAPIService
	applicationId string
	labels        *string
	rANGEDDATA    *string
}

// Label expressions can be used to apply more specific search parameters and can be written in standard SQL query language.&lt;br /&gt; E.g. &#x60;region_id&#x3D;123&#x60; or multiple filters: &#x60;region_id&#x3D;123 and fleet_id&#x3D;456 or host_id&#x3D;46256&#x60; The provided filter query needs to be url encoded. E.g.&lt;br /&gt; &#x60;region_id%3D123&#x60; or multiple filters: &#x60;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60; The total would look like:&lt;br /&gt; &#x60;/applicationInstance/game/{applicationId}/empty?labels&#x3D;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60;&lt;br /&gt; If you want to filter on a non-numeric label such as &#x60;region_name&#x60;, you have to wrap the value in double quotes: &#x60;region_name&#x3D;\&quot;Rotterdam\&quot;&#x60;.&lt;br /&gt; More information on the use of labels can be found in the&lt;br /&gt; &lt;a href&#x3D;\&quot;https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Label/#pre-defined-labels\&quot;&gt;label documentation&lt;/a&gt;.
func (r ApiAllocateEmptyGameServersByApplicationIdRequest) Labels(labels string) ApiAllocateEmptyGameServersByApplicationIdRequest {
	r.labels = &labels
	return r
}

// Example header and default range: RANGED-DATA:start&#x3D;0,results&#x3D;25
func (r ApiAllocateEmptyGameServersByApplicationIdRequest) RANGEDDATA(rANGEDDATA string) ApiAllocateEmptyGameServersByApplicationIdRequest {
	r.rANGEDDATA = &rANGEDDATA
	return r
}

func (r ApiAllocateEmptyGameServersByApplicationIdRequest) Execute() ([]ApplicationInstance, *http.Response, error) {
	return r.ApiService.AllocateEmptyGameServersByApplicationIdExecute(r)
}

/*
AllocateEmptyGameServersByApplicationId Get empty game instance for the given applicationId. Currently, implies the ONLINE UNALLOCATED game server status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationId The ID of the application
	@return ApiAllocateEmptyGameServersByApplicationIdRequest
*/
func (a *ApplicationInstanceAPIService) AllocateEmptyGameServersByApplicationId(ctx context.Context, applicationId string) ApiAllocateEmptyGameServersByApplicationIdRequest {
	return ApiAllocateEmptyGameServersByApplicationIdRequest{
		ApiService:    a,
		ctx:           ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstance
func (a *ApplicationInstanceAPIService) AllocateEmptyGameServersByApplicationIdExecute(r ApiAllocateEmptyGameServersByApplicationIdRequest) ([]ApplicationInstance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.AllocateEmptyGameServersByApplicationId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/game/{applicationId}/empty"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationId"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.labels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labels", r.labels, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.rANGEDDATA != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "RANGED-DATA", r.rANGEDDATA, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAllocateEmptyGameServersByApplicationIdWithErrorsArcusV2Request struct {
	ctx                   context.Context
	ApiService            *ApplicationInstanceAPIService
	applicationInstanceId string
	rANGEDDATA            *string
}

// Example header and default range: RANGED-DATA:start&#x3D;0,results&#x3D;25
func (r ApiAllocateEmptyGameServersByApplicationIdWithErrorsArcusV2Request) RANGEDDATA(rANGEDDATA string) ApiAllocateEmptyGameServersByApplicationIdWithErrorsArcusV2Request {
	r.rANGEDDATA = &rANGEDDATA
	return r
}

func (r ApiAllocateEmptyGameServersByApplicationIdWithErrorsArcusV2Request) Execute() ([]ApplicationInstanceLogModel, *http.Response, error) {
	return r.ApiService.AllocateEmptyGameServersByApplicationIdWithErrorsArcusV2Execute(r)
}

/*
AllocateEmptyGameServersByApplicationIdWithErrorsArcusV2 Get the logs for the application instance (for now only the dependency installer logs)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId The ID of the application instance
	@return ApiAllocateEmptyGameServersByApplicationIdWithErrorsArcusV2Request
*/
func (a *ApplicationInstanceAPIService) AllocateEmptyGameServersByApplicationIdWithErrorsArcusV2(ctx context.Context, applicationInstanceId string) ApiAllocateEmptyGameServersByApplicationIdWithErrorsArcusV2Request {
	return ApiAllocateEmptyGameServersByApplicationIdWithErrorsArcusV2Request{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceLogModel
func (a *ApplicationInstanceAPIService) AllocateEmptyGameServersByApplicationIdWithErrorsArcusV2Execute(r ApiAllocateEmptyGameServersByApplicationIdWithErrorsArcusV2Request) ([]ApplicationInstanceLogModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceLogModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.AllocateEmptyGameServersByApplicationIdWithErrorsArcusV2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/{applicationInstanceId}/log"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.rANGEDDATA != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "RANGED-DATA", r.rANGEDDATA, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateApplicationInstanceDeployRequest struct {
	ctx                   context.Context
	ApiService            *ApplicationInstanceAPIService
	applicationInstanceId string
	applicationBuildId    *ApplicationBuildId
}

func (r ApiCreateApplicationInstanceDeployRequest) ApplicationBuildId(applicationBuildId ApplicationBuildId) ApiCreateApplicationInstanceDeployRequest {
	r.applicationBuildId = &applicationBuildId
	return r
}

func (r ApiCreateApplicationInstanceDeployRequest) Execute() ([]TaskStatus, *http.Response, error) {
	return r.ApiService.CreateApplicationInstanceDeployExecute(r)
}

/*
CreateApplicationInstanceDeploy Install a new application instance build

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId The ID of the application instance
	@return ApiCreateApplicationInstanceDeployRequest
*/
func (a *ApplicationInstanceAPIService) CreateApplicationInstanceDeploy(ctx context.Context, applicationInstanceId string) ApiCreateApplicationInstanceDeployRequest {
	return ApiCreateApplicationInstanceDeployRequest{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
//
//	@return []TaskStatus
func (a *ApplicationInstanceAPIService) CreateApplicationInstanceDeployExecute(r ApiCreateApplicationInstanceDeployRequest) ([]TaskStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TaskStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.CreateApplicationInstanceDeploy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/{applicationInstanceId}/deploy"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.applicationBuildId == nil {
		return localVarReturnValue, nil, reportError("applicationBuildId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.applicationBuildId
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateApplicationInstanceFleetHostRequest struct {
	ctx                 context.Context
	ApiService          *ApplicationInstanceAPIService
	fleetId             string
	hostId              int32
	applicationInstance *ApplicationInstance
}

func (r ApiCreateApplicationInstanceFleetHostRequest) ApplicationInstance(applicationInstance ApplicationInstance) ApiCreateApplicationInstanceFleetHostRequest {
	r.applicationInstance = &applicationInstance
	return r
}

func (r ApiCreateApplicationInstanceFleetHostRequest) Execute() ([]ApplicationInstance, *http.Response, error) {
	return r.ApiService.CreateApplicationInstanceFleetHostExecute(r)
}

/*
CreateApplicationInstanceFleetHost Create a new application instance entity on given host (bare metal or VM) and for given fleetId

Creates a new application instance entity in our database, on the provided host ID (can be a bare metal server or a VM). Afterwards you can
deploy software on it. hostId equals hostID, found in the /host endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param fleetId The ID of the fleet
	@param hostId The ID of the host
	@return ApiCreateApplicationInstanceFleetHostRequest
*/
func (a *ApplicationInstanceAPIService) CreateApplicationInstanceFleetHost(ctx context.Context, fleetId string, hostId int32) ApiCreateApplicationInstanceFleetHostRequest {
	return ApiCreateApplicationInstanceFleetHostRequest{
		ApiService: a,
		ctx:        ctx,
		fleetId:    fleetId,
		hostId:     hostId,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstance
func (a *ApplicationInstanceAPIService) CreateApplicationInstanceFleetHostExecute(r ApiCreateApplicationInstanceFleetHostRequest) ([]ApplicationInstance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.CreateApplicationInstanceFleetHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/fleet/{fleetId}/host/{hostId}"
	localVarPath = strings.Replace(localVarPath, "{"+"fleetId"+"}", url.PathEscape(parameterValueToString(r.fleetId, "fleetId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hostId"+"}", url.PathEscape(parameterValueToString(r.hostId, "hostId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.applicationInstance == nil {
		return localVarReturnValue, nil, reportError("applicationInstance is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.applicationInstance
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateApplicationInstanceRestartRequest struct {
	ctx                           context.Context
	ApiService                    *ApplicationInstanceAPIService
	applicationInstanceId         string
	applicationInstanceStopMethod *ApplicationInstanceStopMethod
}

func (r ApiCreateApplicationInstanceRestartRequest) ApplicationInstanceStopMethod(applicationInstanceStopMethod ApplicationInstanceStopMethod) ApiCreateApplicationInstanceRestartRequest {
	r.applicationInstanceStopMethod = &applicationInstanceStopMethod
	return r
}

func (r ApiCreateApplicationInstanceRestartRequest) Execute() ([]TaskStatus, *http.Response, error) {
	return r.ApiService.CreateApplicationInstanceRestartExecute(r)
}

/*
CreateApplicationInstanceRestart Stop and start a single application instance. Also works if it is already stopped. You can give an stop method in the body, if not given we will use the stop method defined in the application build or application. Default is hard kill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId The ID of the application instance
	@return ApiCreateApplicationInstanceRestartRequest
*/
func (a *ApplicationInstanceAPIService) CreateApplicationInstanceRestart(ctx context.Context, applicationInstanceId string) ApiCreateApplicationInstanceRestartRequest {
	return ApiCreateApplicationInstanceRestartRequest{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
//
//	@return []TaskStatus
func (a *ApplicationInstanceAPIService) CreateApplicationInstanceRestartExecute(r ApiCreateApplicationInstanceRestartRequest) ([]TaskStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TaskStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.CreateApplicationInstanceRestart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/{applicationInstanceId}/restart"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.applicationInstanceStopMethod
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	var localVarBody []byte
	if r.applicationInstanceStopMethod != nil {
		localVarBody, err = io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateApplicationInstanceStartRequest struct {
	ctx                   context.Context
	ApiService            *ApplicationInstanceAPIService
	applicationInstanceId string
}

func (r ApiCreateApplicationInstanceStartRequest) Execute() ([]TaskStatus, *http.Response, error) {
	return r.ApiService.CreateApplicationInstanceStartExecute(r)
}

/*
CreateApplicationInstanceStart Start a single application instance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId The ID of the application instance
	@return ApiCreateApplicationInstanceStartRequest
*/
func (a *ApplicationInstanceAPIService) CreateApplicationInstanceStart(ctx context.Context, applicationInstanceId string) ApiCreateApplicationInstanceStartRequest {
	return ApiCreateApplicationInstanceStartRequest{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
//
//	@return []TaskStatus
func (a *ApplicationInstanceAPIService) CreateApplicationInstanceStartExecute(r ApiCreateApplicationInstanceStartRequest) ([]TaskStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TaskStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.CreateApplicationInstanceStart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/{applicationInstanceId}/start"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateApplicationInstanceStopRequest struct {
	ctx                           context.Context
	ApiService                    *ApplicationInstanceAPIService
	applicationInstanceId         string
	applicationInstanceStopMethod *ApplicationInstanceStopMethod
}

func (r ApiCreateApplicationInstanceStopRequest) ApplicationInstanceStopMethod(applicationInstanceStopMethod ApplicationInstanceStopMethod) ApiCreateApplicationInstanceStopRequest {
	r.applicationInstanceStopMethod = &applicationInstanceStopMethod
	return r
}

func (r ApiCreateApplicationInstanceStopRequest) Execute() ([]TaskStatus, *http.Response, error) {
	return r.ApiService.CreateApplicationInstanceStopExecute(r)
}

/*
CreateApplicationInstanceStop Stop the application instance given, if no stop method is provided we will use the stop method of the application build or application. The default is hard kill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId The ID of the application instance
	@return ApiCreateApplicationInstanceStopRequest
*/
func (a *ApplicationInstanceAPIService) CreateApplicationInstanceStop(ctx context.Context, applicationInstanceId string) ApiCreateApplicationInstanceStopRequest {
	return ApiCreateApplicationInstanceStopRequest{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
//
//	@return []TaskStatus
func (a *ApplicationInstanceAPIService) CreateApplicationInstanceStopExecute(r ApiCreateApplicationInstanceStopRequest) ([]TaskStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TaskStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.CreateApplicationInstanceStop")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/{applicationInstanceId}/stop"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.applicationInstanceStopMethod == nil {
		return localVarReturnValue, nil, reportError("applicationInstanceStopMethod is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.applicationInstanceStopMethod
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteApplicationInstanceRequest struct {
	ctx                           context.Context
	ApiService                    *ApplicationInstanceAPIService
	applicationInstanceId         string
	applicationInstanceStopMethod *ApplicationInstanceStopMethod
}

func (r ApiDeleteApplicationInstanceRequest) ApplicationInstanceStopMethod(applicationInstanceStopMethod ApplicationInstanceStopMethod) ApiDeleteApplicationInstanceRequest {
	r.applicationInstanceStopMethod = &applicationInstanceStopMethod
	return r
}

func (r ApiDeleteApplicationInstanceRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteApplicationInstanceExecute(r)
}

/*
DeleteApplicationInstance Remove an application instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId The ID of the application instance
	@return ApiDeleteApplicationInstanceRequest
*/
func (a *ApplicationInstanceAPIService) DeleteApplicationInstance(ctx context.Context, applicationInstanceId string) ApiDeleteApplicationInstanceRequest {
	return ApiDeleteApplicationInstanceRequest{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
func (a *ApplicationInstanceAPIService) DeleteApplicationInstanceExecute(r ApiDeleteApplicationInstanceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.RestartApplicationInstance")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/{applicationInstanceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.applicationInstanceStopMethod == nil {
		return nil, reportError("applicationInstanceStopMethod is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.applicationInstanceStopMethod
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetApplicationInstanceRequest struct {
	ctx                   context.Context
	ApiService            *ApplicationInstanceAPIService
	applicationInstanceId string
}

func (r ApiGetApplicationInstanceRequest) Execute() ([]ApplicationInstance, *http.Response, error) {
	return r.ApiService.GetApplicationInstanceExecute(r)
}

/*
GetApplicationInstance Get a single application instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId The ID of the application instance
	@return ApiGetApplicationInstanceRequest
*/
func (a *ApplicationInstanceAPIService) GetApplicationInstance(ctx context.Context, applicationInstanceId string) ApiGetApplicationInstanceRequest {
	return ApiGetApplicationInstanceRequest{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstance
func (a *ApplicationInstanceAPIService) GetApplicationInstanceExecute(r ApiGetApplicationInstanceRequest) ([]ApplicationInstance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.GetApplicationInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/{applicationInstanceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetApplicationInstanceApplicationRequest struct {
	ctx           context.Context
	ApiService    *ApplicationInstanceAPIService
	applicationId string
	labels        *string
	filters       *string
	sort          *string
	rANGEDDATA    *string
	pAGETOKEN     *string
}

// Label expressions can be used to apply more specific search parameters and can be written in standard SQL query language.&lt;br /&gt; E.g. &#x60;region_id&#x3D;123&#x60; or multiple filters: &#x60;region_id&#x3D;123 and fleet_id&#x3D;456 or host_id&#x3D;46256&#x60; The provided filter query needs to be url encoded. E.g.&lt;br /&gt; &#x60;region_id%3D123&#x60; or multiple filters: &#x60;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60; The total would look like:&lt;br /&gt; &#x60;/applicationInstance/application/{applicationId}?labels&#x3D;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60;&lt;br /&gt; If you want to filter on a non-numeric label such as &#x60;region_name&#x60;, you have to wrap the value in double quotes: &#x60;region_name&#x3D;\&quot;Rotterdam\&quot;&#x60;&lt;br /&gt; Warning: the &#x60;labels&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;labels&#x60; string will be used for that request&lt;br /&gt; instead. More information on the use of labels can be found in the&lt;br /&gt; &lt;a href&#x3D;\&quot;https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Label/#pre-defined-labels\&quot;&gt;label documentation&lt;/a&gt;.
func (r ApiGetApplicationInstanceApplicationRequest) Labels(labels string) ApiGetApplicationInstanceApplicationRequest {
	r.labels = &labels
	return r
}

// Filter expression can be used to apply more specific search on most parameters in the application instance, it is written like&lt;br /&gt; this E.G. &#x60;regionId&#x3D;123&#x60; or multiple filters: &#x60;regionId&#x3D;123 and fleetId&#x3D;456&#x60;, You can only use AND statement You can also search inside nested&lt;br /&gt; objects like &#x60;metadata.key&#x3D;&#39;testing&#39; and metadata.value&#x3D;&#39;test&#39;&#x60; You can only search on exact matches.&lt;br /&gt; Warning: the &#x60;filters&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;filters&#x60; string will be used for that request&lt;br /&gt; instead.&lt;br /&gt; Warning: filtering on the following parameters is currently not supported and will give an error:&lt;br /&gt; &#x60;autoRestart&#x60;, &#x60;liveGameVersion&#x60;, &#x60;liveHostName&#x60;, &#x60;liveMap&#x60;, &#x60;liveRules&#x60;, &#x60;manuallyDeployed&#x60;, &#x60;markedForDeletion&#x60;, &#x60;numPlayers&#x60;, &#x60;numPlayersMax&#x60;,&lt;br /&gt; &#x60;pid&#x60;, &#x60;pidChangedAt&#x60;, &#x60;startedAt&#x60;, &#x60;status&#x60;, &#x60;stoppedAt&#x60;, &#x60;updatedAt&#x60;
func (r ApiGetApplicationInstanceApplicationRequest) Filters(filters string) ApiGetApplicationInstanceApplicationRequest {
	r.filters = &filters
	return r
}

// Sort expression to sort your results in the order that you like E.G. &#x60;sort&#x3D;fleetId ASC, applicationId DESC&#x60; Be aware that all filters&lt;br /&gt; and sorting should be url encoded.&lt;br /&gt; Warning: the &#x60;sort&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;sort&#x60; string will be used for that request instead&lt;br /&gt; Warning: sorting on the following parameters is currently not supported and will give an error:&lt;br /&gt; &#x60;autoRestart&#x60;, &#x60;liveGameVersion&#x60;, &#x60;liveHostName&#x60;, &#x60;liveMap&#x60;, &#x60;liveRules&#x60;, &#x60;manuallyDeployed&#x60;, &#x60;markedForDeletion&#x60;, &#x60;numPlayers&#x60;, &#x60;numPlayersMax&#x60;,&lt;br /&gt; &#x60;pid&#x60;, &#x60;pidChangedAt&#x60;, &#x60;startedAt&#x60;, &#x60;status&#x60;, &#x60;stoppedAt&#x60;, &#x60;updatedAt&#x60;
func (r ApiGetApplicationInstanceApplicationRequest) Sort(sort string) ApiGetApplicationInstanceApplicationRequest {
	r.sort = &sort
	return r
}

// Example header and default range: RANGED-DATA: &lt;span style&#x3D;\&quot;text-decoration: line-through\&quot;&gt;start&#x3D;0,&lt;/span&gt;results&#x3D;25&lt;br /&gt; Warning: the &#x60;start&#x60; variable of the &#x60;RANGED-DATA&#x60; object has been deprecated for this endpoint. It is not possible to supply a start, see&lt;br /&gt; &#x60;PAGE-TOKEN&#x60; header for a replacement
func (r ApiGetApplicationInstanceApplicationRequest) RANGEDDATA(rANGEDDATA string) ApiGetApplicationInstanceApplicationRequest {
	r.rANGEDDATA = &rANGEDDATA
	return r
}

// This token will be provided by this endpoint to allow for pagination functionality. By performing a request to this endpoint&lt;br /&gt; without the &#x60;PAGE-TOKEN&#x60; you will retrieve the first page of search results. If a &#x60;PAGE-TOKEN&#x60; is returned, a next page may be requested by&lt;br /&gt; supplying that token in the next request using the same &#x60;PAGE-TOKEN&#x60; key and value in the request header. If no &#x60;PAGE-TOKEN&#x60; is returned, the last&lt;br /&gt; page has been reached and no further data can be requested. A returned &#x60;PAGE-TOKEN&#x60; is valid until the date specified in the &#x60;Expires&#x60; response&lt;br /&gt; header. Example: &#x60;PAGE-TOKEN: eyJjb25kaXRpb25zIjp7InVzZXJJZCI6NjY2ODI1fSwibGFiZWxz(...)&#x60; (truncated for readability)&lt;br /&gt; Expires header example: &#x60;Expires: Fri, 08 Jan 2021 09:10:29 GMT&#x60;
func (r ApiGetApplicationInstanceApplicationRequest) PAGETOKEN(pAGETOKEN string) ApiGetApplicationInstanceApplicationRequest {
	r.pAGETOKEN = &pAGETOKEN
	return r
}

func (r ApiGetApplicationInstanceApplicationRequest) Execute() ([]ApplicationInstance, *http.Response, error) {
	return r.ApiService.GetApplicationInstanceApplicationExecute(r)
}

/*
GetApplicationInstanceApplication Get all your application instance for the given applicationId.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationId The ID of the application
	@return ApiGetApplicationInstanceApplicationRequest
*/
func (a *ApplicationInstanceAPIService) GetApplicationInstanceApplication(ctx context.Context, applicationId string) ApiGetApplicationInstanceApplicationRequest {
	return ApiGetApplicationInstanceApplicationRequest{
		ApiService:    a,
		ctx:           ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstance
func (a *ApplicationInstanceAPIService) GetApplicationInstanceApplicationExecute(r ApiGetApplicationInstanceApplicationRequest) ([]ApplicationInstance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.GetApplicationInstanceApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/application/{applicationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationId"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.labels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labels", r.labels, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.rANGEDDATA != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "RANGED-DATA", r.rANGEDDATA, "simple", "")
	}
	if r.pAGETOKEN != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "PAGE-TOKEN", r.pAGETOKEN, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetApplicationInstanceGameEmptyRegionsRequest struct {
	ctx           context.Context
	ApiService    *ApplicationInstanceAPIService
	applicationId string
	labels        *string
	rANGEDDATA    *string
}

// Label expressions can be used to apply more specific search parameters and can be written in standard SQL query language.&lt;br /&gt; E.g. &#x60;region_id&#x3D;123&#x60; or multiple filters: &#x60;region_id&#x3D;123 and fleet_id&#x3D;456 or host_id&#x3D;46256&#x60; The provided filter query needs to be url encoded. E.g.&lt;br /&gt; &#x60;region_id%3D123&#x60; or multiple filters: &#x60;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60; The total would look like:&lt;br /&gt; &#x60;/applicationInstance/game/{applicationId}/empty/regions?labels&#x3D;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60;.&lt;br /&gt; If you want to filter on a non-numeric label such as &#x60;region_name&#x60;, you have to wrap the value in double quotes: &#x60;region_name&#x3D;\&quot;Rotterdam\&quot;&#x60;.&lt;br /&gt; More information on the use of labels can be found in the&lt;br /&gt; &lt;a href&#x3D;\&quot;https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Label/#pre-defined-labels\&quot;&gt;label documentation&lt;/a&gt;.
func (r ApiGetApplicationInstanceGameEmptyRegionsRequest) Labels(labels string) ApiGetApplicationInstanceGameEmptyRegionsRequest {
	r.labels = &labels
	return r
}

// Example header and default range: RANGED-DATA:start&#x3D;0,results&#x3D;25
func (r ApiGetApplicationInstanceGameEmptyRegionsRequest) RANGEDDATA(rANGEDDATA string) ApiGetApplicationInstanceGameEmptyRegionsRequest {
	r.rANGEDDATA = &rANGEDDATA
	return r
}

func (r ApiGetApplicationInstanceGameEmptyRegionsRequest) Execute() ([]ApplicationInstanceByRegion, *http.Response, error) {
	return r.ApiService.GetApplicationInstanceGameEmptyRegionsExecute(r)
}

/*
GetApplicationInstanceGameEmptyRegions Get empty game instances per region for the given applicationId. Currently implies the ONLINE UNALLOCATED game server status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationId The ID of the application
	@return ApiGetApplicationInstanceGameEmptyRegionsRequest
*/
func (a *ApplicationInstanceAPIService) GetApplicationInstanceGameEmptyRegions(ctx context.Context, applicationId string) ApiGetApplicationInstanceGameEmptyRegionsRequest {
	return ApiGetApplicationInstanceGameEmptyRegionsRequest{
		ApiService:    a,
		ctx:           ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceByRegion
func (a *ApplicationInstanceAPIService) GetApplicationInstanceGameEmptyRegionsExecute(r ApiGetApplicationInstanceGameEmptyRegionsRequest) ([]ApplicationInstanceByRegion, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceByRegion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.GetApplicationInstanceGameEmptyRegions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/game/{applicationId}/empty/regions"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationId"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.labels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labels", r.labels, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.rANGEDDATA != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "RANGED-DATA", r.rANGEDDATA, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetApplicationInstanceHostRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceAPIService
	hostId     int32
	labels     *string
	filters    *string
	sort       *string
	rANGEDDATA *string
	pAGETOKEN  *string
}

// Label expressions can be used to apply more specific search parameters and can be written in standard SQL query language.&lt;br /&gt; E.g. &#x60;region_id&#x3D;123&#x60; or multiple filters: &#x60;region_id&#x3D;123 and fleet_id&#x3D;456 or host_id&#x3D;46256&#x60; The provided filter query needs to be url encoded.&lt;br /&gt; E.g. &#x60;region_id%3D123&#x60; or multiple filters: &#x60;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60; The total would look like:&lt;br /&gt; &#x60;/applicationInstance/host/{hostId}?labels&#x3D;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60;&lt;br /&gt; If you want to filter on a non-numeric label such as &#x60;region_name&#x60;, you have to wrap the value in double quotes: &#x60;region_name&#x3D;\&quot;Rotterdam\&quot;&#x60;&lt;br /&gt; Warning: the &#x60;labels&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;labels&#x60; string will be used for that request&lt;br /&gt; instead. More information on the use of labels can be found in the&lt;br /&gt; &lt;a href&#x3D;\&quot;https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Label/#pre-defined-labels\&quot;&gt;label documentation&lt;/a&gt;.
func (r ApiGetApplicationInstanceHostRequest) Labels(labels string) ApiGetApplicationInstanceHostRequest {
	r.labels = &labels
	return r
}

// Filter expression can be used to apply more specific search on most parameters in the application instance, it is written like&lt;br /&gt; this E.G. &#x60;regionId&#x3D;123&#x60; or multiple filters: &#x60;regionId&#x3D;123 and fleetId&#x3D;456&#x60;, only the &#x60;AND&#x60; statement is supported at this time. You can also&lt;br /&gt; search inside nested objects like &#x60;metadata.key&#x3D;\&quot;testing\&quot;&#x60; and &#x60;metadata.value&#x3D;\&quot;test\&quot;&#x60; You can only search on exact matches.&lt;br /&gt; Warning: the &#x60;filters&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;filters&#x60; string will be used for that request&lt;br /&gt; instead.&lt;br /&gt; Warning: filtering on the following parameters is currently not supported and will give an error:&lt;br /&gt; &#x60;autoRestart&#x60;, &#x60;liveGameVersion&#x60;, &#x60;liveHostName&#x60;, &#x60;liveMap&#x60;, &#x60;liveRules&#x60;, &#x60;manuallyDeployed&#x60;, &#x60;markedForDeletion&#x60;, &#x60;numPlayers&#x60;,&lt;br /&gt; &#x60;numPlayersMax&#x60;, &#x60;pid&#x60;, &#x60;pidChangedAt&#x60;, &#x60;startedAt&#x60;, &#x60;status&#x60;, &#x60;stoppedAt&#x60;, &#x60;updatedAt&#x60;
func (r ApiGetApplicationInstanceHostRequest) Filters(filters string) ApiGetApplicationInstanceHostRequest {
	r.filters = &filters
	return r
}

// Sort expression to sort your results in the order that you like E.G. &#x60;sort&#x3D;fleetId ASC, applicationId DESC&#x60; Be aware that all&lt;br /&gt; filters and sorting should be url encoded.&lt;br /&gt; Warning: the &#x60;sort&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;sort&#x60; string will be used for that request instead&lt;br /&gt; Warning: sorting on the following parameters is currently not supported and will give an error:&lt;br /&gt; &#x60;autoRestart&#x60;, &#x60;liveGameVersion&#x60;, &#x60;liveHostName&#x60;, &#x60;liveMap&#x60;, &#x60;liveRules&#x60;, &#x60;manuallyDeployed&#x60;, &#x60;markedForDeletion&#x60;, &#x60;numPlayers&#x60;,&lt;br /&gt; &#x60;numPlayersMax&#x60;, &#x60;pid&#x60;, &#x60;pidChangedAt&#x60;, &#x60;startedAt&#x60;, &#x60;status&#x60;, &#x60;stoppedAt&#x60;, &#x60;updatedAt&#x60;
func (r ApiGetApplicationInstanceHostRequest) Sort(sort string) ApiGetApplicationInstanceHostRequest {
	r.sort = &sort
	return r
}

// Example header and default range: RANGED-DATA: &lt;span style&#x3D;\&quot;text-decoration: line-through\&quot;&gt;start&#x3D;0,&lt;/span&gt;results&#x3D;25&lt;br /&gt; Warning: the &#x60;start&#x60; variable of the &#x60;RANGED-DATA&#x60; object has been deprecated for this endpoint. It is not possible to supply a start, see&lt;br /&gt; &#x60;PAGE-TOKEN&#x60; header for a replacement
func (r ApiGetApplicationInstanceHostRequest) RANGEDDATA(rANGEDDATA string) ApiGetApplicationInstanceHostRequest {
	r.rANGEDDATA = &rANGEDDATA
	return r
}

// This token will be provided by this endpoint to allow for pagination functionality. By performing a request to this endpoint&lt;br /&gt; without the &#x60;PAGE-TOKEN&#x60; you will retrieve the first page of search results. If a &#x60;PAGE-TOKEN&#x60; is returned, a next page may be requested by&lt;br /&gt; supplying that token in the next request using the same &#x60;PAGE-TOKEN&#x60; key and value in the request header. If no &#x60;PAGE-TOKEN&#x60; is returned, the&lt;br /&gt; last page has been reached and no further data can be requested. A returned &#x60;PAGE-TOKEN&#x60; is valid until the date specified in the &#x60;Expires&#x60;&lt;br /&gt; response header. Example: &#x60;PAGE-TOKEN: eyJjb25kaXRpb25zIjp7InVzZXJJZCI6NjY2ODI1fSwibGFiZWxz(...)&#x60; (truncated for readability) Expires header&lt;br /&gt; example: &#x60;Expires: Fri, 08 Jan 2021 09:10:29 GMT&#x60;
func (r ApiGetApplicationInstanceHostRequest) PAGETOKEN(pAGETOKEN string) ApiGetApplicationInstanceHostRequest {
	r.pAGETOKEN = &pAGETOKEN
	return r
}

func (r ApiGetApplicationInstanceHostRequest) Execute() ([]ApplicationInstance, *http.Response, error) {
	return r.ApiService.GetApplicationInstanceHostExecute(r)
}

/*
GetApplicationInstanceHost Get all your application instances on given host (bare metal or VM).

Note: bare metal servers and VMs are exposed in the same manner, as "dedicated servers". hostId can be found in the /host endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param hostId The ID of the host
	@return ApiGetApplicationInstanceHostRequest
*/
func (a *ApplicationInstanceAPIService) GetApplicationInstanceHost(ctx context.Context, hostId int32) ApiGetApplicationInstanceHostRequest {
	return ApiGetApplicationInstanceHostRequest{
		ApiService: a,
		ctx:        ctx,
		hostId:     hostId,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstance
func (a *ApplicationInstanceAPIService) GetApplicationInstanceHostExecute(r ApiGetApplicationInstanceHostRequest) ([]ApplicationInstance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.GetApplicationInstanceHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/host/{hostId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hostId"+"}", url.PathEscape(parameterValueToString(r.hostId, "hostId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.labels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labels", r.labels, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.rANGEDDATA != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "RANGED-DATA", r.rANGEDDATA, "simple", "")
	}
	if r.pAGETOKEN != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "PAGE-TOKEN", r.pAGETOKEN, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetApplicationInstanceMetadataRequest struct {
	ctx                   context.Context
	ApiService            *ApplicationInstanceAPIService
	applicationInstanceId string
}

func (r ApiGetApplicationInstanceMetadataRequest) Execute() (*MetadataCollection, *http.Response, error) {
	return r.ApiService.GetApplicationInstanceMetadataExecute(r)
}

/*
GetApplicationInstanceMetadata Get the metadata of given application instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId The ID of the application instance
	@return ApiGetApplicationInstanceMetadataRequest
*/
func (a *ApplicationInstanceAPIService) GetApplicationInstanceMetadata(ctx context.Context, applicationInstanceId string) ApiGetApplicationInstanceMetadataRequest {
	return ApiGetApplicationInstanceMetadataRequest{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
//
//	@return MetadataCollection
func (a *ApplicationInstanceAPIService) GetApplicationInstanceMetadataExecute(r ApiGetApplicationInstanceMetadataRequest) (*MetadataCollection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MetadataCollection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.GetApplicationInstanceMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/{applicationInstanceId}/metadata"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetApplicationInstanceStatusesRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceAPIService
}

func (r ApiGetApplicationInstanceStatusesRequest) Execute() ([]ApplicationInstanceStatus, *http.Response, error) {
	return r.ApiService.GetApplicationInstanceStatusesExecute(r)
}

/*
GetApplicationInstanceStatuses Get all statuses of application instances

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetApplicationInstanceStatusesRequest
*/
func (a *ApplicationInstanceAPIService) GetApplicationInstanceStatuses(ctx context.Context) ApiGetApplicationInstanceStatusesRequest {
	return ApiGetApplicationInstanceStatusesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceStatus
func (a *ApplicationInstanceAPIService) GetApplicationInstanceStatusesExecute(r ApiGetApplicationInstanceStatusesRequest) ([]ApplicationInstanceStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.GetApplicationInstanceStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetApplicationInstanceSummariesRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceAPIService
	labels     *string
	filters    *string
	sort       *string
	fields     *string
	rANGEDDATA *string
	pAGETOKEN  *string
}

// Label expressions can be used to apply more specific search parameters and can be written in standard SQL query language.&lt;br /&gt; E.g. &#x60;region_id&#x3D;123&#x60; or multiple filters: &#x60;region_id&#x3D;123 and fleet_id&#x3D;456 or host_id&#x3D;46256&#x60; The provided filter query needs to be url encoded. E.g.&lt;br /&gt; &#x60;region_id%3D123&#x60; or multiple filters: &#x60;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60; The total would look like:&lt;br /&gt; &#x60;/applicationInstance/summary?labels&#x3D;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60;&lt;br /&gt; If you want to filter on a non-numeric label such as &#x60;region_name&#x60;, you have to wrap the value in double quotes: &#x60;region_name&#x3D;\&quot;Rotterdam\&quot;&#x60;&lt;br /&gt; Warning: the &#x60;labels&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;labels&#x60; string will be used for that request&lt;br /&gt; instead. More information on the use of labels can be found in the&lt;br /&gt; &lt;a href&#x3D;\&quot;https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Label/#pre-defined-labels\&quot;&gt;label documentation&lt;/a&gt;.
func (r ApiGetApplicationInstanceSummariesRequest) Labels(labels string) ApiGetApplicationInstanceSummariesRequest {
	r.labels = &labels
	return r
}

// Filter expression can be used to apply more specific search on most parameters in the application instance, it is written like&lt;br /&gt; this E.G. &#x60;regionId&#x3D;123&#x60; or multiple filters: &#x60;regionId&#x3D;123 and fleetId&#x3D;456&#x60;, only the &#x60;AND&#x60; statement is supported at this time. You can also&lt;br /&gt; search inside nested objects like &#x60;metadata.key&#x3D;\&quot;testing\&quot;&#x60; and &#x60;metadata.value&#x3D;\&quot;test\&quot;&#x60; You can only search on exact matches.&lt;br /&gt; Warning: the &#x60;filters&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;filters&#x60; string will be used for that request&lt;br /&gt; instead.&lt;br /&gt; Warning: filtering on the following parameters is currently not supported and will give an error:&lt;br /&gt; &#x60;autoRestart&#x60;, &#x60;liveGameVersion&#x60;, &#x60;liveHostName&#x60;, &#x60;liveMap&#x60;, &#x60;liveRules&#x60;, &#x60;manuallyDeployed&#x60;, &#x60;markedForDeletion&#x60;, &#x60;numPlayers&#x60;, &#x60;numPlayersMax&#x60;,&lt;br /&gt; &#x60;pid&#x60;, &#x60;pidChangedAt&#x60;, &#x60;startedAt&#x60;, &#x60;status&#x60;, &#x60;stoppedAt&#x60;, &#x60;updatedAt&#x60;
func (r ApiGetApplicationInstanceSummariesRequest) Filters(filters string) ApiGetApplicationInstanceSummariesRequest {
	r.filters = &filters
	return r
}

// Sort expression to sort your results in the order that you like E.G. &#x60;sort&#x3D;fleetId ASC, applicationId DESC&#x60; Be aware that all filters&lt;br /&gt; and sorting should be url encoded.&lt;br /&gt; Warning: the &#x60;sort&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;sort&#x60; string will be used for that request instead&lt;br /&gt; Warning: sorting on the following parameters is currently not supported and will give an error:&lt;br /&gt; &#x60;autoRestart&#x60;, &#x60;liveGameVersion&#x60;, &#x60;liveHostName&#x60;, &#x60;liveMap&#x60;, &#x60;liveRules&#x60;, &#x60;manuallyDeployed&#x60;, &#x60;markedForDeletion&#x60;, &#x60;numPlayers&#x60;, &#x60;numPlayersMax&#x60;,&lt;br /&gt; &#x60;pid&#x60;, &#x60;pidChangedAt&#x60;, &#x60;startedAt&#x60;, &#x60;status&#x60;, &#x60;stoppedAt&#x60;, &#x60;updatedAt&#x60;
func (r ApiGetApplicationInstanceSummariesRequest) Sort(sort string) ApiGetApplicationInstanceSummariesRequest {
	r.sort = &sort
	return r
}

// Fields return in response, only fields available in model can be filter out
func (r ApiGetApplicationInstanceSummariesRequest) Fields(fields string) ApiGetApplicationInstanceSummariesRequest {
	r.fields = &fields
	return r
}

// Example header and default range: RANGED-DATA: &lt;span style&#x3D;\&quot;text-decoration: line-through\&quot;&gt;start&#x3D;0,&lt;/span&gt;results&#x3D;25&lt;br /&gt; Warning: the &#x60;start&#x60; variable of the &#x60;RANGED-DATA&#x60; object has been deprecated for this endpoint. It is not possible to supply a start, see&lt;br /&gt; &#x60;PAGE-TOKEN&#x60; header for a replacement
func (r ApiGetApplicationInstanceSummariesRequest) RANGEDDATA(rANGEDDATA string) ApiGetApplicationInstanceSummariesRequest {
	r.rANGEDDATA = &rANGEDDATA
	return r
}

// This token will be provided by this endpoint to allow for pagination functionality. By performing a request to this endpoint&lt;br /&gt; without the &#x60;PAGE-TOKEN&#x60; you will retrieve the first page of search results. If a &#x60;PAGE-TOKEN&#x60; is returned, a next page may be requested by&lt;br /&gt; supplying that token in the next request using the same &#x60;PAGE-TOKEN&#x60; key and value in the request header. If no &#x60;PAGE-TOKEN&#x60; is returned, the last&lt;br /&gt; page has been reached and no further data can be requested. A returned &#x60;PAGE-TOKEN&#x60; is valid until the date specified in the &#x60;Expires&#x60; response&lt;br /&gt; header. Example: &#x60;PAGE-TOKEN: eyJjb25kaXRpb25zIjp7InVzZXJJZCI6NjY2ODI1fSwibGFiZWxz(...)&#x60; (truncated for readability)&lt;br /&gt; Expires header example: &#x60;Expires: Fri, 08 Jan 2021 09:10:29 GMT&#x60;
func (r ApiGetApplicationInstanceSummariesRequest) PAGETOKEN(pAGETOKEN string) ApiGetApplicationInstanceSummariesRequest {
	r.pAGETOKEN = &pAGETOKEN
	return r
}

func (r ApiGetApplicationInstanceSummariesRequest) Execute() ([]ApplicationInstanceSummary, *http.Response, error) {
	return r.ApiService.GetApplicationInstanceSummariesExecute(r)
}

/*
GetApplicationInstanceSummaries Get all your application instances and their main details

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetApplicationInstanceSummariesRequest
*/
func (a *ApplicationInstanceAPIService) GetApplicationInstanceSummaries(ctx context.Context) ApiGetApplicationInstanceSummariesRequest {
	return ApiGetApplicationInstanceSummariesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceSummary
func (a *ApplicationInstanceAPIService) GetApplicationInstanceSummariesExecute(r ApiGetApplicationInstanceSummariesRequest) ([]ApplicationInstanceSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.GetApplicationInstanceSummaries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.labels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labels", r.labels, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.rANGEDDATA != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "RANGED-DATA", r.rANGEDDATA, "simple", "")
	}
	if r.pAGETOKEN != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "PAGE-TOKEN", r.pAGETOKEN, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetApplicationInstanceTasksByApplicationInstanceIdRequest struct {
	ctx                   context.Context
	ApiService            *ApplicationInstanceAPIService
	applicationInstanceId string
}

func (r ApiGetApplicationInstanceTasksByApplicationInstanceIdRequest) Execute() ([]TaskStatus, *http.Response, error) {
	return r.ApiService.GetApplicationInstanceTasksByApplicationInstanceIdExecute(r)
}

/*
GetApplicationInstanceTasksByApplicationInstanceId Get the last 50 tasks of the given application instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId The ID of the application instance
	@return ApiGetApplicationInstanceTasksByApplicationInstanceIdRequest
*/
func (a *ApplicationInstanceAPIService) GetApplicationInstanceTasksByApplicationInstanceId(ctx context.Context, applicationInstanceId string) ApiGetApplicationInstanceTasksByApplicationInstanceIdRequest {
	return ApiGetApplicationInstanceTasksByApplicationInstanceIdRequest{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
//
//	@return []TaskStatus
func (a *ApplicationInstanceAPIService) GetApplicationInstanceTasksByApplicationInstanceIdExecute(r ApiGetApplicationInstanceTasksByApplicationInstanceIdRequest) ([]TaskStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TaskStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceAPIService.GetApplicationInstanceTasksByApplicationInstanceId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/applicationInstance/{applicationInstanceId}/task"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetApplicationInstancesRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceAPIService
	labels     *string
	filters    *string
	sort       *string
	rANGEDDATA *string
	pAGETOKEN  *string
}

// Label expressions can be used to apply more specific search parameters and can be written in standard SQL query language.&lt;br /&gt; E.g. &#x60;region_id&#x3D;123&#x60; or multiple filters: &#x60;region_id&#x3D;123 and fleet_id&#x3D;456 or host_id&#x3D;46256&#x60; The provided filter query needs to be url encoded. E.g.&lt;br /&gt; &#x60;region_id%3D123&#x60; or multiple filters: &#x60;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60; The total would look like:&lt;br /&gt; &#x60;/applicationInstance?labels&#x3D;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60;&lt;br /&gt; If you want to filter on a non-numeric label such as &#x60;region_name&#x60;, you have to wrap the value in double quotes: &#x60;region_name&#x3D;\&quot;Rotterdam\&quot;&#x60;&lt;br /&gt; Warning: the &#x60;labels&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;labels&#x60; string will be used for that request&lt;br /&gt; instead. More information on the use of labels can be found in the&lt;br /&gt; &lt;a href&#x3D;\&quot;https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Label/#pre-defined-labels\&quot;&gt;label documentation&lt;/a&gt;.
func (r ApiGetApplicationInstancesRequest) Labels(labels string) ApiGetApplicationInstancesRequest {
	r.labels = &labels
	return r
}

[...]
