/*
i3D.net One-Deployment-Platform Endpoints

Documentation links: - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Usage/\">API Usage</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Authentication/\">API Authentication</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Handling/\">API Error Handling</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Codes/\">API Error Codes</a> - <a href=\"https://www.i3d.net/docs/one/odp/\">All ONE Deployment Platform Documentation</a>

API version: 3.0.0
Contact: info@i3d.net
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CrashEventAPIService CrashEventAPI service
type CrashEventAPIService service

type ApiGetCrashesRequest struct {
	ctx        context.Context
	ApiService *CrashEventAPIService
	rANGEDDATA *string
	filter     *string
}

// Example header and default range: RANGED-DATA:start&#x3D;0,results&#x3D;25
func (r ApiGetCrashesRequest) RANGEDDATA(rANGEDDATA string) ApiGetCrashesRequest {
	r.rANGEDDATA = &rANGEDDATA
	return r
}

// You can filter based on following parameters&lt;br /&gt; - deploymentEnvironmentId&lt;br /&gt; - fleetId&lt;br /&gt; - hostId&lt;br /&gt; - applicationId&lt;br /&gt; - applicationBuildId&lt;br /&gt; - applicationInstanceId&lt;br /&gt; &lt;p&gt;The parameters can have a single value (e.g: fleetId&#x3D;1734197255512241679) or a list of values (e.g: applicationId&#x3D;8881688742569018542,76243584248556249)&lt;br /&gt; A filter example is: applicationId&#x3D;8881688742569018542,76243584248556249&amp;fleetId&#x3D;1734197255512241679&lt;br /&gt; Remember to urlencode the provided filter&lt;br /&gt; E.g filter&#x3D;applicationId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;br /&gt; The final endpoint call would look like: /crash?filter&#x3D;applicationId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;/p&gt;
func (r ApiGetCrashesRequest) Filter(filter string) ApiGetCrashesRequest {
	r.filter = &filter
	return r
}

func (r ApiGetCrashesRequest) Execute() ([]CrashEvent, *http.Response, error) {
	return r.ApiService.GetCrashesExecute(r)
}

/*
GetCrashes Get a list of Application Instance crash events

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCrashesRequest
*/
func (a *CrashEventAPIService) GetCrashes(ctx context.Context) ApiGetCrashesRequest {
	return ApiGetCrashesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CrashEvent
func (a *CrashEventAPIService) GetCrashesExecute(r ApiGetCrashesRequest) ([]CrashEvent, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CrashEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrashEventAPIService.GetCrashes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/crash"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rANGEDDATA == nil {
		return localVarReturnValue, nil, reportError("rANGEDDATA is required and must be specified")
	}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "RANGED-DATA", r.rANGEDDATA, "simple", "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
