/*
i3D.net One-Deployment-Platform Endpoints

Documentation links: - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Usage/\">API Usage</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Authentication/\">API Authentication</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Handling/\">API Error Handling</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Codes/\">API Error Codes</a> - <a href=\"https://www.i3d.net/docs/one/odp/\">All ONE Deployment Platform Documentation</a>

API version: 3.0.0
Contact: info@i3d.net
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// DeploymentEnvironmentAPIService DeploymentEnvironmentAPI service
type DeploymentEnvironmentAPIService service

type ApiCreateDeploymentEnvironmentRequest struct {
	ctx                   context.Context
	ApiService            *DeploymentEnvironmentAPIService
	deploymentEnvironment *DeploymentEnvironment
}

func (r ApiCreateDeploymentEnvironmentRequest) DeploymentEnvironment(deploymentEnvironment DeploymentEnvironment) ApiCreateDeploymentEnvironmentRequest {
	r.deploymentEnvironment = &deploymentEnvironment
	return r
}

func (r ApiCreateDeploymentEnvironmentRequest) Execute() ([]DeploymentEnvironment, *http.Response, error) {
	return r.ApiService.CreateDeploymentEnvironmentExecute(r)
}

/*
CreateDeploymentEnvironment Create a deployment environment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateDeploymentEnvironmentRequest
*/
func (a *DeploymentEnvironmentAPIService) CreateDeploymentEnvironment(ctx context.Context) ApiCreateDeploymentEnvironmentRequest {
	return ApiCreateDeploymentEnvironmentRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []DeploymentEnvironment
func (a *DeploymentEnvironmentAPIService) CreateDeploymentEnvironmentExecute(r ApiCreateDeploymentEnvironmentRequest) ([]DeploymentEnvironment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DeploymentEnvironment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.CreateDeploymentEnvironment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deploymentEnvironment == nil {
		return localVarReturnValue, nil, reportError("deploymentEnvironment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deploymentEnvironment
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteDeploymentEnvironmentRequest struct {
	ctx                     context.Context
	ApiService              *DeploymentEnvironmentAPIService
	deploymentEnvironmentId string
}

func (r ApiDeleteDeploymentEnvironmentRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteDeploymentEnvironmentExecute(r)
}

/*
DeleteDeploymentEnvironment Delete given deployment environment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentEnvironmentId The Id of the deployment environment
	@return ApiDeleteDeploymentEnvironmentRequest
*/
func (a *DeploymentEnvironmentAPIService) DeleteDeploymentEnvironment(ctx context.Context, deploymentEnvironmentId string) ApiDeleteDeploymentEnvironmentRequest {
	return ApiDeleteDeploymentEnvironmentRequest{
		ApiService:              a,
		ctx:                     ctx,
		deploymentEnvironmentId: deploymentEnvironmentId,
	}
}

// Execute executes the request
func (a *DeploymentEnvironmentAPIService) DeleteDeploymentEnvironmentExecute(r ApiDeleteDeploymentEnvironmentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.DeleteDeploymentEnvironment")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment/{deploymentEnvironmentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentEnvironmentId"+"}", url.PathEscape(parameterValueToString(r.deploymentEnvironmentId, "deploymentEnvironmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetDeploymentEnvironmentRequest struct {
	ctx                     context.Context
	ApiService              *DeploymentEnvironmentAPIService
	deploymentEnvironmentId string
}

func (r ApiGetDeploymentEnvironmentRequest) Execute() ([]DeploymentEnvironment, *http.Response, error) {
	return r.ApiService.GetDeploymentEnvironmentExecute(r)
}

/*
GetDeploymentEnvironment Get the details of the given deployment environment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentEnvironmentId The Id of the deployment environment
	@return ApiGetDeploymentEnvironmentRequest
*/
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironment(ctx context.Context, deploymentEnvironmentId string) ApiGetDeploymentEnvironmentRequest {
	return ApiGetDeploymentEnvironmentRequest{
		ApiService:              a,
		ctx:                     ctx,
		deploymentEnvironmentId: deploymentEnvironmentId,
	}
}

// Execute executes the request
//
//	@return []DeploymentEnvironment
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentExecute(r ApiGetDeploymentEnvironmentRequest) ([]DeploymentEnvironment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DeploymentEnvironment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.GetDeploymentEnvironment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment/{deploymentEnvironmentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentEnvironmentId"+"}", url.PathEscape(parameterValueToString(r.deploymentEnvironmentId, "deploymentEnvironmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeploymentEnvironmentApplicationBuildInUsesRequest struct {
	ctx                     context.Context
	ApiService              *DeploymentEnvironmentAPIService
	deploymentEnvironmentId string
}

func (r ApiGetDeploymentEnvironmentApplicationBuildInUsesRequest) Execute() ([]ApplicationBuild, *http.Response, error) {
	return r.ApiService.GetDeploymentEnvironmentApplicationBuildInUsesExecute(r)
}

/*
GetDeploymentEnvironmentApplicationBuildInUses Get the list of in use application builds for a given deployment environment Id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentEnvironmentId The Id of the deployment environment
	@return ApiGetDeploymentEnvironmentApplicationBuildInUsesRequest
*/
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentApplicationBuildInUses(ctx context.Context, deploymentEnvironmentId string) ApiGetDeploymentEnvironmentApplicationBuildInUsesRequest {
	return ApiGetDeploymentEnvironmentApplicationBuildInUsesRequest{
		ApiService:              a,
		ctx:                     ctx,
		deploymentEnvironmentId: deploymentEnvironmentId,
	}
}

// Execute executes the request
//
//	@return []ApplicationBuild
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentApplicationBuildInUsesExecute(r ApiGetDeploymentEnvironmentApplicationBuildInUsesRequest) ([]ApplicationBuild, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationBuild
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.GetDeploymentEnvironmentApplicationBuildInUses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment/{deploymentEnvironmentId}/applicationBuild/inUse"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentEnvironmentId"+"}", url.PathEscape(parameterValueToString(r.deploymentEnvironmentId, "deploymentEnvironmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeploymentEnvironmentApplicationFleetsRequest struct {
	ctx                     context.Context
	ApiService              *DeploymentEnvironmentAPIService
	deploymentEnvironmentId string
	applicationId           string
}

func (r ApiGetDeploymentEnvironmentApplicationFleetsRequest) Execute() ([]Fleet, *http.Response, error) {
	return r.ApiService.GetDeploymentEnvironmentApplicationFleetsExecute(r)
}

/*
GetDeploymentEnvironmentApplicationFleets Get the list of fleet in a deployment environment, having a certain application of type game

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentEnvironmentId The Id of the deployment environment
	@param applicationId The Id of the application
	@return ApiGetDeploymentEnvironmentApplicationFleetsRequest
*/
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentApplicationFleets(ctx context.Context, deploymentEnvironmentId string, applicationId string) ApiGetDeploymentEnvironmentApplicationFleetsRequest {
	return ApiGetDeploymentEnvironmentApplicationFleetsRequest{
		ApiService:              a,
		ctx:                     ctx,
		deploymentEnvironmentId: deploymentEnvironmentId,
		applicationId:           applicationId,
	}
}

// Execute executes the request
//
//	@return []Fleet
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentApplicationFleetsExecute(r ApiGetDeploymentEnvironmentApplicationFleetsRequest) ([]Fleet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Fleet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.GetDeploymentEnvironmentApplicationFleets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment/{deploymentEnvironmentId}/application/{applicationId}/fleet"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentEnvironmentId"+"}", url.PathEscape(parameterValueToString(r.deploymentEnvironmentId, "deploymentEnvironmentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"applicationId"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeploymentEnvironmentApplicationInUsesRequest struct {
	ctx                     context.Context
	ApiService              *DeploymentEnvironmentAPIService
	deploymentEnvironmentId string
}

func (r ApiGetDeploymentEnvironmentApplicationInUsesRequest) Execute() ([]Application, *http.Response, error) {
	return r.ApiService.GetDeploymentEnvironmentApplicationInUsesExecute(r)
}

/*
GetDeploymentEnvironmentApplicationInUses Get the list of in use applications for given deployment environment Id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentEnvironmentId The Id of the deployment environment
	@return ApiGetDeploymentEnvironmentApplicationInUsesRequest
*/
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentApplicationInUses(ctx context.Context, deploymentEnvironmentId string) ApiGetDeploymentEnvironmentApplicationInUsesRequest {
	return ApiGetDeploymentEnvironmentApplicationInUsesRequest{
		ApiService:              a,
		ctx:                     ctx,
		deploymentEnvironmentId: deploymentEnvironmentId,
	}
}

// Execute executes the request
//
//	@return []Application
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentApplicationInUsesExecute(r ApiGetDeploymentEnvironmentApplicationInUsesRequest) ([]Application, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Application
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.GetDeploymentEnvironmentApplicationInUses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment/{deploymentEnvironmentId}/application/inUse"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentEnvironmentId"+"}", url.PathEscape(parameterValueToString(r.deploymentEnvironmentId, "deploymentEnvironmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeploymentEnvironmentApplicationInstancesRequest struct {
	ctx                     context.Context
	ApiService              *DeploymentEnvironmentAPIService
	deploymentEnvironmentId string
	labels                  *string
	filters                 *string
	sort                    *string
	rANGEDDATA              *string
	pAGETOKEN               *string
}

// Label expressions can be used to apply more specific search parameters and can be written in standard SQL query language.&lt;br /&gt; E.g. &#x60;region_id&#x3D;123&#x60; or multiple filters: &#x60;region_id&#x3D;123 and fleet_id&#x3D;456 or host_id&#x3D;46256&#x60; The provided filter query needs to be url encoded. E.g.&lt;br /&gt; &#x60;region_id%3D123&#x60; or multiple filters: &#x60;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60; The total would look like:&lt;br /&gt; &#x60;/deploymentEnvironment/{deploymentEnvironmentId}/applicationInstance?filters&#x3D;region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256&#x60;&lt;br /&gt; If you want to filter on a non-numeric label such as &#x60;region_name&#x60;, you have to wrap the value in double quotes: &#x60;region_name&#x3D;\&quot;Rotterdam\&quot;&#x60;&lt;br /&gt; Warning: the &#x60;filters&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;filters&#x60; string will be used for that request instead.&lt;br /&gt; More information on the use of filters can be found &lt;a href&#x3D;\&quot;https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Label/#pre-defined-labels\&quot;&gt;here&lt;/a&gt;.
func (r ApiGetDeploymentEnvironmentApplicationInstancesRequest) Labels(labels string) ApiGetDeploymentEnvironmentApplicationInstancesRequest {
	r.labels = &labels
	return r
}

// Filter expression can be used to apply more specific search on most parameters in the application instance, it is written like&lt;br /&gt; this E.G. &#x60;regionId&#x3D;123&#x60; or multiple filters: &#x60;regionId&#x3D;123 and fleetId&#x3D;456&#x60;, only the &#x60;AND&#x60; statement is supported at this time. You can also&lt;br /&gt; search inside nested objects like &#x60;metaData.key&#x3D;\&quot;testing\&quot;&#x60; and &#x60;metaData.value&#x3D;\&quot;test\&quot;&#x60; You can only search on exact matches.&lt;br /&gt; Warning: the &#x60;filters&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;filters&#x60; string will be used for that request&lt;br /&gt; instead.&lt;br /&gt; Warning: filtering on the following parameters is currently not supported and will give an error:&lt;br /&gt; &#x60;autoRestart&#x60;, &#x60;liveGameVersion&#x60;, &#x60;liveHostName&#x60;, &#x60;liveMap&#x60;, &#x60;liveRules&#x60;, &#x60;manuallyDeployed&#x60;, &#x60;markedForDeletion&#x60;, &#x60;numPlayers&#x60;, &#x60;numPlayersMax&#x60;,&lt;br /&gt; &#x60;pid&#x60;, &#x60;pidChangedAt&#x60;, &#x60;startedAt&#x60;, &#x60;status&#x60;, &#x60;stoppedAt&#x60;, &#x60;updatedAt&#x60;
func (r ApiGetDeploymentEnvironmentApplicationInstancesRequest) Filters(filters string) ApiGetDeploymentEnvironmentApplicationInstancesRequest {
	r.filters = &filters
	return r
}

// Sort expression to sort your results in the order that you like E.G. \&quot;sort&#x3D;fleetId&#x3D;ASC and applicationId DESC\&quot; Be aware that all filters&lt;br /&gt; and sorting should be url encoded.&lt;br /&gt; Warning: the &#x60;sort&#x60; query parameter is ignored when passing a &#x60;PAGE-TOKEN&#x60; and the original &#x60;sort&#x60; string will be used for that request instead&lt;br /&gt; Warning: sorting on the following parameters is currently not supported and will give an error:&lt;br /&gt; &#x60;autoRestart&#x60;, &#x60;liveGameVersion&#x60;, &#x60;liveHostName&#x60;, &#x60;liveMap&#x60;, &#x60;liveRules&#x60;, &#x60;manuallyDeployed&#x60;, &#x60;markedForDeletion&#x60;, &#x60;numPlayers&#x60;, &#x60;numPlayersMax&#x60;,&lt;br /&gt; &#x60;pid&#x60;, &#x60;pidChangedAt&#x60;, &#x60;startedAt&#x60;, &#x60;status&#x60;, &#x60;stoppedAt&#x60;, &#x60;updatedAt&#x60;
func (r ApiGetDeploymentEnvironmentApplicationInstancesRequest) Sort(sort string) ApiGetDeploymentEnvironmentApplicationInstancesRequest {
	r.sort = &sort
	return r
}

// Example header and default range: RANGED-DATA: &lt;span style&#x3D;\&quot;text-decoration: line-through\&quot;&gt;start&#x3D;0,&lt;/span&gt;results&#x3D;25&lt;br /&gt; Warning: the &#x60;start&#x60; variable of the &#x60;RANGED-DATA&#x60; object has been deprecated for this endpoint. It is not possible to supply a start, see&lt;br /&gt; &#x60;PAGE-TOKEN&#x60; header for a replacement
func (r ApiGetDeploymentEnvironmentApplicationInstancesRequest) RANGEDDATA(rANGEDDATA string) ApiGetDeploymentEnvironmentApplicationInstancesRequest {
	r.rANGEDDATA = &rANGEDDATA
	return r
}

// This token will be provided by this endpoint to allow for pagination functionality. By performing a request to this endpoint&lt;br /&gt; without the &#x60;PAGE-TOKEN&#x60; you will retrieve the first page of search results. If a &#x60;PAGE-TOKEN&#x60; is returned, a next page may be requested by&lt;br /&gt; supplying that token in the next request using the same &#x60;PAGE-TOKEN&#x60; key and value in the request header. If no &#x60;PAGE-TOKEN&#x60; is returned, the last&lt;br /&gt; page has been reached and no further data can be requested. A returned &#x60;PAGE-TOKEN&#x60; is valid until the date specified in the &#x60;Expires&#x60; response&lt;br /&gt; header. Example: &#x60;PAGE-TOKEN: eyJjb25kaXRpb25zIjp7InVzZXJJZCI6NjY2ODI1fSwibGFiZWxz(...)&#x60; (truncated for readability)&lt;br /&gt; Expires header example: &#x60;Expires: Fri, 08 Jan 2021 09:10:29 GMT&#x60;
func (r ApiGetDeploymentEnvironmentApplicationInstancesRequest) PAGETOKEN(pAGETOKEN string) ApiGetDeploymentEnvironmentApplicationInstancesRequest {
	r.pAGETOKEN = &pAGETOKEN
	return r
}

func (r ApiGetDeploymentEnvironmentApplicationInstancesRequest) Execute() ([]ApplicationInstance, *http.Response, error) {
	return r.ApiService.GetDeploymentEnvironmentApplicationInstancesExecute(r)
}

/*
GetDeploymentEnvironmentApplicationInstances Get all the application instances for the given deployment environment

Note: bare metal servers and VMs are exposed in the same manner, as "dedicated servers". hostId can be found in the /host endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentEnvironmentId The Id of the deployment environment
	@return ApiGetDeploymentEnvironmentApplicationInstancesRequest
*/
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentApplicationInstances(ctx context.Context, deploymentEnvironmentId string) ApiGetDeploymentEnvironmentApplicationInstancesRequest {
	return ApiGetDeploymentEnvironmentApplicationInstancesRequest{
		ApiService:              a,
		ctx:                     ctx,
		deploymentEnvironmentId: deploymentEnvironmentId,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstance
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentApplicationInstancesExecute(r ApiGetDeploymentEnvironmentApplicationInstancesRequest) ([]ApplicationInstance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.GetDeploymentEnvironmentApplicationInstances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment/{deploymentEnvironmentId}/applicationInstance"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentEnvironmentId"+"}", url.PathEscape(parameterValueToString(r.deploymentEnvironmentId, "deploymentEnvironmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.labels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.labels, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.rANGEDDATA != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "RANGED-DATA", r.rANGEDDATA, "simple", "")
	}
	if r.pAGETOKEN != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "PAGE-TOKEN", r.pAGETOKEN, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeploymentEnvironmentDeploymentProfilesRequest struct {
	ctx                     context.Context
	ApiService              *DeploymentEnvironmentAPIService
	deploymentEnvironmentId string
}

func (r ApiGetDeploymentEnvironmentDeploymentProfilesRequest) Execute() ([]DeploymentProfile, *http.Response, error) {
	return r.ApiService.GetDeploymentEnvironmentDeploymentProfilesExecute(r)
}

/*
GetDeploymentEnvironmentDeploymentProfiles Get all the cloud deployment profiles you have created

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentEnvironmentId The Id of the deployment environment
	@return ApiGetDeploymentEnvironmentDeploymentProfilesRequest
*/
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentDeploymentProfiles(ctx context.Context, deploymentEnvironmentId string) ApiGetDeploymentEnvironmentDeploymentProfilesRequest {
	return ApiGetDeploymentEnvironmentDeploymentProfilesRequest{
		ApiService:              a,
		ctx:                     ctx,
		deploymentEnvironmentId: deploymentEnvironmentId,
	}
}

// Execute executes the request
//
//	@return []DeploymentProfile
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentDeploymentProfilesExecute(r ApiGetDeploymentEnvironmentDeploymentProfilesRequest) ([]DeploymentProfile, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DeploymentProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.GetDeploymentEnvironmentDeploymentProfiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment/{deploymentEnvironmentId}/deploymentProfile"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentEnvironmentId"+"}", url.PathEscape(parameterValueToString(r.deploymentEnvironmentId, "deploymentEnvironmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeploymentEnvironmentFleetsRequest struct {
	ctx                     context.Context
	ApiService              *DeploymentEnvironmentAPIService
	deploymentEnvironmentId string
}

func (r ApiGetDeploymentEnvironmentFleetsRequest) Execute() ([]Fleet, *http.Response, error) {
	return r.ApiService.GetDeploymentEnvironmentFleetsExecute(r)
}

/*
GetDeploymentEnvironmentFleets Get all the active fleets that belong to the given deployment environment.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentEnvironmentId The Id of the deployment environment
	@return ApiGetDeploymentEnvironmentFleetsRequest
*/
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentFleets(ctx context.Context, deploymentEnvironmentId string) ApiGetDeploymentEnvironmentFleetsRequest {
	return ApiGetDeploymentEnvironmentFleetsRequest{
		ApiService:              a,
		ctx:                     ctx,
		deploymentEnvironmentId: deploymentEnvironmentId,
	}
}

// Execute executes the request
//
//	@return []Fleet
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentFleetsExecute(r ApiGetDeploymentEnvironmentFleetsRequest) ([]Fleet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Fleet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.GetDeploymentEnvironmentFleets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment/{deploymentEnvironmentId}/fleet"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentEnvironmentId"+"}", url.PathEscape(parameterValueToString(r.deploymentEnvironmentId, "deploymentEnvironmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeploymentEnvironmentHostsRequest struct {
	ctx                     context.Context
	ApiService              *DeploymentEnvironmentAPIService
	deploymentEnvironmentId string
}

func (r ApiGetDeploymentEnvironmentHostsRequest) Execute() ([]Host, *http.Response, error) {
	return r.ApiService.GetDeploymentEnvironmentHostsExecute(r)
}

/*
GetDeploymentEnvironmentHosts Get all your hosts for given deployment environment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentEnvironmentId The Id of the deployment environment
	@return ApiGetDeploymentEnvironmentHostsRequest
*/
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentHosts(ctx context.Context, deploymentEnvironmentId string) ApiGetDeploymentEnvironmentHostsRequest {
	return ApiGetDeploymentEnvironmentHostsRequest{
		ApiService:              a,
		ctx:                     ctx,
		deploymentEnvironmentId: deploymentEnvironmentId,
	}
}

// Execute executes the request
//
//	@return []Host
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentHostsExecute(r ApiGetDeploymentEnvironmentHostsRequest) ([]Host, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Host
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.GetDeploymentEnvironmentHosts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment/{deploymentEnvironmentId}/host"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentEnvironmentId"+"}", url.PathEscape(parameterValueToString(r.deploymentEnvironmentId, "deploymentEnvironmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeploymentEnvironmentsRequest struct {
	ctx        context.Context
	ApiService *DeploymentEnvironmentAPIService
	rANGEDDATA *string
}

// Example header and default range: RANGED-DATA:start&#x3D;0,results&#x3D;25
func (r ApiGetDeploymentEnvironmentsRequest) RANGEDDATA(rANGEDDATA string) ApiGetDeploymentEnvironmentsRequest {
	r.rANGEDDATA = &rANGEDDATA
	return r
}

func (r ApiGetDeploymentEnvironmentsRequest) Execute() ([]DeploymentEnvironment, *http.Response, error) {
	return r.ApiService.GetDeploymentEnvironmentsExecute(r)
}

/*
GetDeploymentEnvironments Get the details of all your deployment environment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetDeploymentEnvironmentsRequest
*/
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironments(ctx context.Context) ApiGetDeploymentEnvironmentsRequest {
	return ApiGetDeploymentEnvironmentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []DeploymentEnvironment
func (a *DeploymentEnvironmentAPIService) GetDeploymentEnvironmentsExecute(r ApiGetDeploymentEnvironmentsRequest) ([]DeploymentEnvironment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DeploymentEnvironment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.GetDeploymentEnvironments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.rANGEDDATA != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "RANGED-DATA", r.rANGEDDATA, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateDeploymentEnvironmentRequest struct {
	ctx                     context.Context
	ApiService              *DeploymentEnvironmentAPIService
	deploymentEnvironmentId string
	deploymentEnvironment   *DeploymentEnvironment
}

func (r ApiUpdateDeploymentEnvironmentRequest) DeploymentEnvironment(deploymentEnvironment DeploymentEnvironment) ApiUpdateDeploymentEnvironmentRequest {
	r.deploymentEnvironment = &deploymentEnvironment
	return r
}

func (r ApiUpdateDeploymentEnvironmentRequest) Execute() ([]DeploymentEnvironment, *http.Response, error) {
	return r.ApiService.UpdateDeploymentEnvironmentExecute(r)
}

/*
UpdateDeploymentEnvironment Update given deployment environment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentEnvironmentId The Id of the deployment environment
	@return ApiUpdateDeploymentEnvironmentRequest
*/
func (a *DeploymentEnvironmentAPIService) UpdateDeploymentEnvironment(ctx context.Context, deploymentEnvironmentId string) ApiUpdateDeploymentEnvironmentRequest {
	return ApiUpdateDeploymentEnvironmentRequest{
		ApiService:              a,
		ctx:                     ctx,
		deploymentEnvironmentId: deploymentEnvironmentId,
	}
}

// Execute executes the request
//
//	@return []DeploymentEnvironment
func (a *DeploymentEnvironmentAPIService) UpdateDeploymentEnvironmentExecute(r ApiUpdateDeploymentEnvironmentRequest) ([]DeploymentEnvironment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DeploymentEnvironment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentEnvironmentAPIService.UpdateDeploymentEnvironment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/deploymentEnvironment/{deploymentEnvironmentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentEnvironmentId"+"}", url.PathEscape(parameterValueToString(r.deploymentEnvironmentId, "deploymentEnvironmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deploymentEnvironment == nil {
		return localVarReturnValue, nil, reportError("deploymentEnvironment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deploymentEnvironment
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
