/*
i3D.net One-Deployment-Platform Endpoints

Documentation links: - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Usage/\">API Usage</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Authentication/\">API Authentication</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Handling/\">API Error Handling</a> - <a href=\"https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Codes/\">API Error Codes</a> - <a href=\"https://www.i3d.net/docs/one/odp/\">All ONE Deployment Platform Documentation</a>

API version: 3.0.0
Contact: info@i3d.net
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ApplicationInstanceTelemetryAPIService ApplicationInstanceTelemetryAPI service
type ApplicationInstanceTelemetryAPIService service

type ApiGetTelemetryApplicationInstanceCpusRequest struct {
	ctx                   context.Context
	ApiService            *ApplicationInstanceTelemetryAPIService
	applicationInstanceId int32
	startTime             *int32
	endTime               *int32
}

// Start unix timestamp
func (r ApiGetTelemetryApplicationInstanceCpusRequest) StartTime(startTime int32) ApiGetTelemetryApplicationInstanceCpusRequest {
	r.startTime = &startTime
	return r
}

// End unix timestamp
func (r ApiGetTelemetryApplicationInstanceCpusRequest) EndTime(endTime int32) ApiGetTelemetryApplicationInstanceCpusRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryApplicationInstanceCpusRequest) Execute() ([]ApplicationInstanceCpuTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceCpusExecute(r)
}

/*
GetTelemetryApplicationInstanceCpus Get cpu telemetry data for the given application instance (default = last 24 hours)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId
	@return ApiGetTelemetryApplicationInstanceCpusRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceCpus(ctx context.Context, applicationInstanceId int32) ApiGetTelemetryApplicationInstanceCpusRequest {
	return ApiGetTelemetryApplicationInstanceCpusRequest{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceCpuTelemetry
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceCpusExecute(r ApiGetTelemetryApplicationInstanceCpusRequest) ([]ApplicationInstanceCpuTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceCpuTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceCpus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/{applicationInstanceId}/cpu"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryApplicationInstanceCrashesRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceTelemetryAPIService
	startTime  *int32
	endTime    *int32
}

// Unix timestamp. Filter from time, default value is -1 day
func (r ApiGetTelemetryApplicationInstanceCrashesRequest) StartTime(startTime int32) ApiGetTelemetryApplicationInstanceCrashesRequest {
	r.startTime = &startTime
	return r
}

// Unix timestamp. Filter to time, default value is now
func (r ApiGetTelemetryApplicationInstanceCrashesRequest) EndTime(endTime int32) ApiGetTelemetryApplicationInstanceCrashesRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryApplicationInstanceCrashesRequest) Execute() ([]ApplicationInstanceCrashTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceCrashesExecute(r)
}

/*
GetTelemetryApplicationInstanceCrashes Count of crashes within a given time period for all application instances

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryApplicationInstanceCrashesRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceCrashes(ctx context.Context) ApiGetTelemetryApplicationInstanceCrashesRequest {
	return ApiGetTelemetryApplicationInstanceCrashesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceCrashTelemetry
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceCrashesExecute(r ApiGetTelemetryApplicationInstanceCrashesRequest) ([]ApplicationInstanceCrashTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceCrashTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceCrashes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/crash"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryApplicationInstanceDeploymentProfileStatusesRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceTelemetryAPIService
	type_      *string
	filter     *string
}

// - 0: Both game and utilities&lt;br /&gt; - 1: Only game (default)&lt;br /&gt; - 2: Only utilities
func (r ApiGetTelemetryApplicationInstanceDeploymentProfileStatusesRequest) Type_(type_ string) ApiGetTelemetryApplicationInstanceDeploymentProfileStatusesRequest {
	r.type_ = &type_
	return r
}

// You can filter based on the following parameters&lt;br /&gt; - deploymentProfileId&lt;br /&gt; &lt;p&gt;The parameters can have a single value (e.g: deploymentProfileId&#x3D;1734197255512241679) or a list of values (e.g: deploymentProfileId&#x3D;8881688742569018542,76243584248556249)&lt;br /&gt; A filter example is: deploymentProfileId&#x3D;8881688742569018542,76243584248556249&lt;br /&gt; Remember to urlencode the provided filter&lt;br /&gt; E.g filter&#x3D;deploymentProfileId%3D8881688742569018542%2C76243584248556249&lt;br /&gt; The final endpoint call would look like: /telemetry/applicationInstance/status?filter&#x3D;deploymentProfileId%3D8881688742569018542%2C76243584248556249&lt;/p&gt;
func (r ApiGetTelemetryApplicationInstanceDeploymentProfileStatusesRequest) Filter(filter string) ApiGetTelemetryApplicationInstanceDeploymentProfileStatusesRequest {
	r.filter = &filter
	return r
}

func (r ApiGetTelemetryApplicationInstanceDeploymentProfileStatusesRequest) Execute() ([]ApplicationInstanceDeploymentProfileStatusTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceDeploymentProfileStatusesExecute(r)
}

/*
GetTelemetryApplicationInstanceDeploymentProfileStatuses Get live status of application instances grouped by deployment profile

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryApplicationInstanceDeploymentProfileStatusesRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceDeploymentProfileStatuses(ctx context.Context) ApiGetTelemetryApplicationInstanceDeploymentProfileStatusesRequest {
	return ApiGetTelemetryApplicationInstanceDeploymentProfileStatusesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceDeploymentProfileStatusTelemetry
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceDeploymentProfileStatusesExecute(r ApiGetTelemetryApplicationInstanceDeploymentProfileStatusesRequest) ([]ApplicationInstanceDeploymentProfileStatusTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceDeploymentProfileStatusTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceDeploymentProfileStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/deploymentProfile/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryApplicationInstanceDistributionCurrentsRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceTelemetryAPIService
}

func (r ApiGetTelemetryApplicationInstanceDistributionCurrentsRequest) Execute() ([]InstanceDistribution, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceDistributionCurrentsExecute(r)
}

/*
GetTelemetryApplicationInstanceDistributionCurrents Get the current distribution of application instances (of type Game) for bare metal, flex metal and cloud

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryApplicationInstanceDistributionCurrentsRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceDistributionCurrents(ctx context.Context) ApiGetTelemetryApplicationInstanceDistributionCurrentsRequest {
	return ApiGetTelemetryApplicationInstanceDistributionCurrentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []InstanceDistribution
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceDistributionCurrentsExecute(r ApiGetTelemetryApplicationInstanceDistributionCurrentsRequest) ([]InstanceDistribution, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []InstanceDistribution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceDistributionCurrents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/distribution/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryApplicationInstanceDistributionsRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceTelemetryAPIService
	startTime  *int32
	endTime    *int32
}

// Unix timestamp. Filter from time, default value is -1 day
func (r ApiGetTelemetryApplicationInstanceDistributionsRequest) StartTime(startTime int32) ApiGetTelemetryApplicationInstanceDistributionsRequest {
	r.startTime = &startTime
	return r
}

// Unix timestamp. Filter to time, default value is now
func (r ApiGetTelemetryApplicationInstanceDistributionsRequest) EndTime(endTime int32) ApiGetTelemetryApplicationInstanceDistributionsRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryApplicationInstanceDistributionsRequest) Execute() ([]InstanceDistributionTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceDistributionsExecute(r)
}

/*
GetTelemetryApplicationInstanceDistributions Get the historic distribution of application instances (of type Game) for bare metal, flex metal and cloud

Get the aggregated list of application instance status, according to give date range system will calculate the interval, possible interval options are as follows
- minute
- hour
- day

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryApplicationInstanceDistributionsRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceDistributions(ctx context.Context) ApiGetTelemetryApplicationInstanceDistributionsRequest {
	return ApiGetTelemetryApplicationInstanceDistributionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []InstanceDistributionTelemetry
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceDistributionsExecute(r ApiGetTelemetryApplicationInstanceDistributionsRequest) ([]InstanceDistributionTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []InstanceDistributionTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceDistributions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/distribution"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryApplicationInstanceHostCapacityCurrentsRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceTelemetryAPIService
}

func (r ApiGetTelemetryApplicationInstanceHostCapacityCurrentsRequest) Execute() ([]ApplicationInstanceHostCapacityTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceHostCapacityCurrentsExecute(r)
}

/*
GetTelemetryApplicationInstanceHostCapacityCurrents Get the aggregated list of application instances (of type Game) for bare metal, flex metal and cloud

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryApplicationInstanceHostCapacityCurrentsRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceHostCapacityCurrents(ctx context.Context) ApiGetTelemetryApplicationInstanceHostCapacityCurrentsRequest {
	return ApiGetTelemetryApplicationInstanceHostCapacityCurrentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceHostCapacityTelemetry
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceHostCapacityCurrentsExecute(r ApiGetTelemetryApplicationInstanceHostCapacityCurrentsRequest) ([]ApplicationInstanceHostCapacityTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceHostCapacityTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceHostCapacityCurrents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/hostCapacity/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryApplicationInstanceMemoriesRequest struct {
	ctx                   context.Context
	ApiService            *ApplicationInstanceTelemetryAPIService
	applicationInstanceId int32
	startTime             *int32
	endTime               *int32
}

// Start unix timestamp
func (r ApiGetTelemetryApplicationInstanceMemoriesRequest) StartTime(startTime int32) ApiGetTelemetryApplicationInstanceMemoriesRequest {
	r.startTime = &startTime
	return r
}

// End unix timestamp
func (r ApiGetTelemetryApplicationInstanceMemoriesRequest) EndTime(endTime int32) ApiGetTelemetryApplicationInstanceMemoriesRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryApplicationInstanceMemoriesRequest) Execute() ([]ApplicationInstanceMemoryTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceMemoriesExecute(r)
}

/*
GetTelemetryApplicationInstanceMemories Get memory telemetry data for the given application instance (default = last 24 hours)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationInstanceId
	@return ApiGetTelemetryApplicationInstanceMemoriesRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceMemories(ctx context.Context, applicationInstanceId int32) ApiGetTelemetryApplicationInstanceMemoriesRequest {
	return ApiGetTelemetryApplicationInstanceMemoriesRequest{
		ApiService:            a,
		ctx:                   ctx,
		applicationInstanceId: applicationInstanceId,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceMemoryTelemetry
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceMemoriesExecute(r ApiGetTelemetryApplicationInstanceMemoriesRequest) ([]ApplicationInstanceMemoryTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceMemoryTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceMemories")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/{applicationInstanceId}/memory"
	localVarPath = strings.Replace(localVarPath, "{"+"applicationInstanceId"+"}", url.PathEscape(parameterValueToString(r.applicationInstanceId, "applicationInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceTelemetryAPIService
	type_      *string
	filter     *string
	startTime  *int32
	endTime    *int32
}

// - 0: Both game and utilities&lt;br /&gt; - 1: Only game (default)&lt;br /&gt; - 2: Only utilities
func (r ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest) Type_(type_ string) ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest {
	r.type_ = &type_
	return r
}

// You can filter based on following parameters&lt;br /&gt; - deploymentEnvironmentId&lt;br /&gt; - fleetId&lt;br /&gt; - deploymentRegionId&lt;br /&gt; - dcLocationId&lt;br /&gt; &lt;p&gt;The parameters can have a single value (e.g: fleetId&#x3D;1734197255512241679) or a list of values (e.g: deploymentRegionId&#x3D;8881688742569018542,76243584248556249)&lt;br /&gt; A filter example is: deploymentRegionId&#x3D;8881688742569018542,76243584248556249&amp;fleetId&#x3D;1734197255512241679&lt;br /&gt; Remember to urlencode the provided filter.&lt;br /&gt; E.g filter&#x3D;deploymentRegionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;br /&gt; The final endpoint call would look like: /telemetry/applicationInstance/providerId/aggregate?filter&#x3D;deploymentRegionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;/p&gt;
func (r ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest) Filter(filter string) ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest {
	r.filter = &filter
	return r
}

// Unix timestamp. Filter from time, default value is -1 day
func (r ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest) StartTime(startTime int32) ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest {
	r.startTime = &startTime
	return r
}

// Unix timestamp. Filter to time, default value is now
func (r ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest) EndTime(endTime int32) ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest) Execute() ([]ApplicationInstancesTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceProviderIdAggregatesExecute(r)
}

/*
GetTelemetryApplicationInstanceProviderIdAggregates Get the aggregated list of application instance by providerId

Get the aggregated list of application instance status, according to give date range system will calculate the interval, possible interval options are as follows
- minute
- hour
- day
- month

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceProviderIdAggregates(ctx context.Context) ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest {
	return ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstancesTelemetry
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceProviderIdAggregatesExecute(r ApiGetTelemetryApplicationInstanceProviderIdAggregatesRequest) ([]ApplicationInstancesTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstancesTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceProviderIdAggregates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/providerId/aggregate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryApplicationInstanceProviderIdsRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceTelemetryAPIService
	filter     *string
}

// You can filter based on following parameters&lt;br /&gt; - deploymentEnvironmentId&lt;br /&gt; - fleetId&lt;br /&gt; - deploymentRegionId&lt;br /&gt; - dcLocationId&lt;br /&gt; &lt;p&gt;The parameters can have a single value (e.g: fleetId&#x3D;1734197255512241679) or a list of values (e.g: deploymentRegionId&#x3D;8881688742569018542,76243584248556249)&lt;br /&gt; A filter example is: deploymentRegionId&#x3D;8881688742569018542,76243584248556249&amp;fleetId&#x3D;1734197255512241679&lt;br /&gt; Remember to urlencode the provided filter&lt;br /&gt; E.g filter&#x3D;deploymentRegionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;br /&gt; The final endpoint call would look like: /telemetry/applicationInstance/aggregate?filter&#x3D;deploymentRegionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;/p&gt;
func (r ApiGetTelemetryApplicationInstanceProviderIdsRequest) Filter(filter string) ApiGetTelemetryApplicationInstanceProviderIdsRequest {
	r.filter = &filter
	return r
}

func (r ApiGetTelemetryApplicationInstanceProviderIdsRequest) Execute() ([]ApplicationInstancesTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceProviderIdsExecute(r)
}

/*
GetTelemetryApplicationInstanceProviderIds Get how many application instances are currently deployed by providerId

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryApplicationInstanceProviderIdsRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceProviderIds(ctx context.Context) ApiGetTelemetryApplicationInstanceProviderIdsRequest {
	return ApiGetTelemetryApplicationInstanceProviderIdsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstancesTelemetry
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceProviderIdsExecute(r ApiGetTelemetryApplicationInstanceProviderIdsRequest) ([]ApplicationInstancesTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstancesTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceProviderIds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/providerId"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryApplicationInstanceStatusAggregatesRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceTelemetryAPIService
	type_      *string
	filter     *string
	startTime  *int32
	endTime    *int32
}

// - 0: Both game and utilities&lt;br /&gt; - 1: Only game (default)&lt;br /&gt; - 2: Only utilities
func (r ApiGetTelemetryApplicationInstanceStatusAggregatesRequest) Type_(type_ string) ApiGetTelemetryApplicationInstanceStatusAggregatesRequest {
	r.type_ = &type_
	return r
}

// You can filter based on following parameters&lt;br /&gt; - deploymentEnvironmentId&lt;br /&gt; - fleetId&lt;br /&gt; - regionId&lt;br /&gt; - dcLocationId&lt;br /&gt; &lt;p&gt;The parameters can have a single value (e.g: fleetId&#x3D;1734197255512241679) or a list of values (e.g: regionId&#x3D;8881688742569018542,76243584248556249)&lt;br /&gt; A filter example is: regionId&#x3D;8881688742569018542,76243584248556249&amp;fleetId&#x3D;1734197255512241679&lt;br /&gt; Remember to urlencode the provided filter.&lt;br /&gt; E.g filter&#x3D;regionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;br /&gt; The final endpoint call would look like: /telemetry/applicationInstance/status/aggregate?filter&#x3D;regionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;/p&gt;
func (r ApiGetTelemetryApplicationInstanceStatusAggregatesRequest) Filter(filter string) ApiGetTelemetryApplicationInstanceStatusAggregatesRequest {
	r.filter = &filter
	return r
}

// Unix timestamp. Filter from time, default value is -1 day
func (r ApiGetTelemetryApplicationInstanceStatusAggregatesRequest) StartTime(startTime int32) ApiGetTelemetryApplicationInstanceStatusAggregatesRequest {
	r.startTime = &startTime
	return r
}

// Unix timestamp. Filter to time, default value is now
func (r ApiGetTelemetryApplicationInstanceStatusAggregatesRequest) EndTime(endTime int32) ApiGetTelemetryApplicationInstanceStatusAggregatesRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetTelemetryApplicationInstanceStatusAggregatesRequest) Execute() ([]ApplicationInstanceStatusTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceStatusAggregatesExecute(r)
}

/*
GetTelemetryApplicationInstanceStatusAggregates Get the aggregated list of application instances status

Get the aggregated list of application instance status, according to give date range system will calculate the interval, possible interval options are as follows
- minute
- hour
- day
- month

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryApplicationInstanceStatusAggregatesRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceStatusAggregates(ctx context.Context) ApiGetTelemetryApplicationInstanceStatusAggregatesRequest {
	return ApiGetTelemetryApplicationInstanceStatusAggregatesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceStatusTelemetry
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceStatusAggregatesExecute(r ApiGetTelemetryApplicationInstanceStatusAggregatesRequest) ([]ApplicationInstanceStatusTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceStatusTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceStatusAggregates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/status/aggregate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTelemetryApplicationInstanceStatusesRequest struct {
	ctx        context.Context
	ApiService *ApplicationInstanceTelemetryAPIService
	type_      *string
	filter     *string
}

// - 0: Both game and utilities&lt;br /&gt; - 1: Only game (default)&lt;br /&gt; - 2: Only utilities
func (r ApiGetTelemetryApplicationInstanceStatusesRequest) Type_(type_ string) ApiGetTelemetryApplicationInstanceStatusesRequest {
	r.type_ = &type_
	return r
}

// You can filter based on the following parameters&lt;br /&gt; - deploymentEnvironmentId&lt;br /&gt; - fleetId&lt;br /&gt; - deploymentRegionId&lt;br /&gt; - dcLocationId&lt;br /&gt; &lt;p&gt;The parameters can have a single value (e.g: fleetId&#x3D;1734197255512241679) or a list of values (e.g: deploymentRegionId&#x3D;8881688742569018542,76243584248556249)&lt;br /&gt; A filter example is: deploymentRegionId&#x3D;8881688742569018542,76243584248556249&amp;fleetId&#x3D;1734197255512241679&lt;br /&gt; Remember to urlencode the provided filter&lt;br /&gt; E.g filter&#x3D;deploymentRegionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;br /&gt; The final endpoint call would look like: /telemetry/applicationInstance/status?filter&#x3D;deploymentRegionId%3D8881688742569018542%2C76243584248556249%26fleetId%3D1734197255512241679&lt;/p&gt;
func (r ApiGetTelemetryApplicationInstanceStatusesRequest) Filter(filter string) ApiGetTelemetryApplicationInstanceStatusesRequest {
	r.filter = &filter
	return r
}

func (r ApiGetTelemetryApplicationInstanceStatusesRequest) Execute() ([]ApplicationInstanceStatusTelemetry, *http.Response, error) {
	return r.ApiService.GetTelemetryApplicationInstanceStatusesExecute(r)
}

/*
GetTelemetryApplicationInstanceStatuses Get live status of application instances

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTelemetryApplicationInstanceStatusesRequest
*/
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceStatuses(ctx context.Context) ApiGetTelemetryApplicationInstanceStatusesRequest {
	return ApiGetTelemetryApplicationInstanceStatusesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ApplicationInstanceStatusTelemetry
func (a *ApplicationInstanceTelemetryAPIService) GetTelemetryApplicationInstanceStatusesExecute(r ApiGetTelemetryApplicationInstanceStatusesRequest) ([]ApplicationInstanceStatusTelemetry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ApplicationInstanceStatusTelemetry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationInstanceTelemetryAPIService.GetTelemetryApplicationInstanceStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/telemetry/applicationInstance/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["PRIVATE-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
